<div class="col-12">
    <div class="title-header d-flex justify-content-between align-items-center">
      <div>
        <h1>
          <strong *ngIf="!powerId">افزودن قبض برق </strong>
          <strong *ngIf="powerId">ویرایش قبض برق </strong>
        </h1>
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/powerBillList'"> لیست قبوض برق</button>
      </div>
    </div>
  
   <hr>
     <ul class="nav nav-pills mb-3 pr-0" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-building-tab" data-toggle="pill" href="#pills-building" role="tab" aria-controls="pills-building" aria-selected="false">اطلاعات اشتراک</a>
      </li>
      <li class="nav-item" [ngClass]="{'disabled': powerId === ''}">
        <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> اطلاعات قبض</a>
      </li>
    </ul>
    <hr>
   
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <form [formGroup]="form" class="w-100" >
          <fieldset class="fieldset-border"> 
          <div class="form">
            <fieldset class="border"> 
              <legend>اطلاعات قبض </legend>

              <!-- شناسه قبض -->
              <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="billId" class="form-label">شناسه قبض</label>
                <input class="form-control text-right" id="billId" placeholder=""
                       [(ngModel)]="powerBillDto.billId"
                       formControlName="billId"
                       name="billId">
              </div>
              <app-alert-error [data]="form.controls['billId']" [touched]="touched"></app-alert-error>
            </div>

              <!-- شناسه پرداخت  -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="pardakhtId" class="form-label">شناسه پرداخت</label>
                  <input class="form-control text-right" id="pardakhtId" placeholder=""
                         [(ngModel)]="powerBillDto.pardakhtId"
                         formControlName="pardakhtId"
                         name="pardakhtId">
                </div>
                <app-alert-error [data]="form.controls['pardakhtId']" [touched]="touched"></app-alert-error>
              </div>

              <!-- دوره  -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="duration" class="form-label">دوره</label>
                  <input class="form-control text-right" id="duration" placeholder=""
                         [(ngModel)]="powerBillDto.duration"
                         formControlName="duration"
                         name="duration">
                </div>
                <app-alert-error [data]="form.controls['duration']" [touched]="touched"></app-alert-error>
              </div>

              <!-- تاریخ شروع -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="fromDate" class="form-label">تاریخ شروع </label>
                  <input class="form-control text-right" id="fromDate" placeholder=""
                         [(ngModel)]="powerBillDto.fromDate"
                         formControlName="fromDate"
                         name="fromDate">
                </div>
                <app-alert-error [data]="form.controls['fromDate']" [touched]="touched"></app-alert-error>
              </div>

              <!-- تاریخ اتمام -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="toDate" class="form-label">تاریخ اتمام </label>
                  <input class="form-control text-right" id="toDate" placeholder=""
                         [(ngModel)]="powerBillDto.toDate"
                         formControlName="toDate"
                         name="toDate">
                </div>
                <app-alert-error [data]="form.controls['toDate']" [touched]="touched"></app-alert-error>
              </div>

              <!-- تعداد روز دوره -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="numberDays" class="form-label"> تعداد روز دوره </label>
                  <input class="form-control text-right" id="numberDays" placeholder=""
                         [(ngModel)]="powerBillDto.numberDays"
                         formControlName="numberDays"
                         name="numberDays">
                </div>
                <app-alert-error [data]="form.controls['numberDays']" [touched]="touched"></app-alert-error>
              </div>

            <!-- <div class="col-12">
              <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="!powerId">ثبت</button>
              <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="powerId">ویرایش</button>
            </div> --> 
             </fieldset>
          </div>

          <div class="form"> 
            <fieldset class="fieldset-border">
              <legend>شرح مصارف  </legend>
            <p> برای تکمیل شرح مصارف روی دکمه زیر کلیک نمایید</p>
            <div class="container">
              <!-- <h2>اطلاعات تکمیلی </h2> -->
              <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> انتخاب </button>
              <div id="demo" class="collapse">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" width="40">شرح</th>
                        <th scope="col">  شمارنده قبلی </th>
                        <th scope="col"> شمارنده کنونی </th>
                        <th scope="col"> ضریب </th>
                        <th scope="col">  مصرف کل </th>
                        <th scope="col" width="40">  مصرف بعد از آخرین تغییرات</th>
                        <th scope="col" width="250"> نرخ </th>
                        <th scope="col" width="250"> مبلغ </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-info"> 
                        <th scope="row" >میان باری</th>                 <th scope="row" > </th>   
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                      </tr>
                      <tr> 
                        <th scope="row"> اوج بار </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                      </tr>   
                      <tr class="table-info"> 
                        <th scope="row"> کم بار </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                      </tr>                                               
                       <tr>                                               
                        <th scope="row">اوج بار جمعه </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                      </tr>                                               
                      <tr class="table-info"> 
                        <th scope="row"> راکتیو </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                        <th scope="row" > </th>                          <th scope="row" > </th>
                      </tr>                                               
                      </tbody>
                    </table>
                 </div>
              </div>
            </div>
          </fieldset>
          </div>

          <div class=" form">
            <fieldset class="fieldset-border">
              <legend>اطلاعات محاسباتی   </legend>



          </fieldset>
          </div>

          <div class="form">
            <fieldset class="fieldset-border">
              <legend> بهای قبض   </legend>
              <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">مبلغ مصرف</th>
                    <th scope="col">آبونمان</th>
                    <th scope="col"> بهای قدرت </th>
                    <th scope="col"> بهای فصل </th>
                    <!-- <th scope="col"> جریمه بدی مصرف	بهای برق دوره </th> -->
                    <!-- <th scope="col"> مالیات بر ارزش افزوده </th> -->
                    <!-- <th scope="col"> عوارض برق </th> -->
                    <!-- <th scope="col"> بدهکاری	کسر هزار ریال </th> -->
                    <th scope="col"> مبلغ قابل پرداخت </th>
                   </tr>
                </thead>
                <tbody>
                  <tr class="table-info"> 
                    <th scope="row" > {{powerBillDto.consumptionAmount}} </th>
                    <th scope="row" > {{powerBillDto.subscription}} </th>                   
                    <th scope="row" > {{powerBillDto.powerPrice}} </th>                   
                    <th scope="row" > {{powerBillDto.seasonPrice}} </th>                   
                    <th scope="row" > {{powerBillDto.payableAmount}} </th>                   
                  </tr>                                            
                  </tbody>
                </table>
            </div>
          </fieldset>
         </div>

        </fieldset>
        </form>
        <form [formGroup]="formDiscrip" class="w-100" >
          <fieldset class="fieldset-border"> 
            <!-- قدرت قراردادی  -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="contractualPower" class="form-label"> قدرت قراردادی </label>
                <input class="form-control text-right" id="contractualPower" placeholder=""
                        [(ngModel)]="powerBillDto.contractualPower"
                        formControlName="contractualPower"
                        name="contractualPower">
              </div>
              <app-alert-error [data]="formDiscrip.controls['contractualPower']" [touched]="touched"></app-alert-error>
            </div>

            <!-- قدرت محاسبه شده -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="calculatedPower" class="form-label"> قدرت محاسبه شده </label>
                <input class="form-control text-right" id="calculatedPower" placeholder=""
                        [(ngModel)]="powerBillDto.calculatedPower"
                        formControlName="calculatedPower"
                        name="calculatedPower">
              </div>
              <app-alert-error [data]="formDiscrip.controls['calculatedPower']" [touched]="touched"></app-alert-error>
            </div>

            <!-- قدرت مصرفی -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="powerConsumption" class="form-label"> قدرت مصرفی  </label>
                <input class="form-control text-right" id="powerConsumption" placeholder=""
                        [(ngModel)]="powerBillDto.powerConsumption"
                        formControlName="powerConsumption"
                        name="powerConsumption">
              </div>
              <app-alert-error [data]="formDiscrip.controls['powerConsumption']" [touched]="touched"></app-alert-error>
            </div>

            <!-- ضریب زیان بدی مصرف -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="badConsumptionLossRatio" class="form-label"> ضریب زیان بدی مصرف  </label>
                <input class="form-control text-right" id="badConsumptionLossRatio" placeholder=""
                        [(ngModel)]="powerBillDto.badConsumptionLossRatio"
                        formControlName="badConsumptionLossRatio"
                        name="badConsumptionLossRatio">
              </div>
              <app-alert-error [data]="formDiscrip.controls['badConsumptionLossRatio']" [touched]="touched"></app-alert-error>
            </div>

            <!-- مهلت پرداخت -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="paymentDeadLine" class="form-label"> مهلت پرداخت </label>
                <input class="form-control text-right" id="paymentDeadLine" placeholder=""
                        [(ngModel)]="powerBillDto.paymentDeadLine"
                        formControlName="paymentDeadLine"
                        name="paymentDeadLine">
              </div>
              <app-alert-error [data]="formDiscrip.controls['paymentDeadLine']" [touched]="touched"></app-alert-error>
            </div>
            <!-- عدد ماکسیمتر -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="maximeterNumber" class="form-label"> عدد ماکسیمتر </label>
                <input class="form-control text-right" id="maximeterNumber" placeholder=""
                        [(ngModel)]="powerBillDto.maximeterNumber"
                        formControlName="maximeterNumber"
                        name="maximeterNumber">
              </div>
              <app-alert-error [data]="formDiscrip.controls['maximeterNumber']" [touched]="touched"></app-alert-error>
            </div>
          </fieldset>
        </form>      
      </div>

      <div class="tab-pane fade show active" id="pills-building" role="tabpanel" aria-labelledby="pills-building-tab">
         <fieldset class="fieldset-border">
          <legend>انتخاب اشتراک</legend>
          <div class="row">
            <div class="col-auto d-flex flex-column">
              <!-- <label for="allocationPercentage" class="form-label">انتخاب اشتراک</label> -->
             <div class="d-flex align-items-center">
              <button class="btn btn-outline-primary text-center" data-toggle="modal" data-target=".bd-example-modal-lg"  (click)="getListPower()">انتخاب</button>
              <span class="mr-2" style="font-size: 13px;" *ngIf="power.name">
                  ({{power.name}})
                </span>
              </div>
            </div>
          </div>

          <hr>
          <!-- <button class="btn btn-primary" *ngIf="!editedAllocation" (click)="addBuildingAllocation()">ثبت اشتراک</button>
          <button class="btn btn-primary" *ngIf="editedAllocation" (click)="addBuildingAllocation()">ثبت اشتراک</button> -->
        </fieldset>
  
         <!-- <div class="table-responsive" *ngIf="powerDto.buildingList?.length > 0"> 
          <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" width="40">#</th>
              <th scope="col">عنوان ساختمان</th>
              <th scope="col">نوع</th>
              <th scope="col">کد پستی</th>
              <th scope="col" width="140">درصد تخصیص</th>
              <th scope="col" width="80" colspan="2">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of powerDto.buildingList; let i = index">
              <tr>
                <th scope="row" width="40">{{i + 1}}</th>
                <td>{{item.name}}</td>
                <td>{{buildingEnum[item.useType].toString()}}</td>
                <td>{{item.postalCode}}</td>
                <td>{{item.allocationPercentage}}</td>
                <td width="40" class="text-center">
                  <span class="cursor-pointer text-center fa fa-edit"
                        (click)="editAllocationPercentage(item)">
                  </span>
                </td>
                <td width="40" class="text-center">
                  <span class="cursor-pointer text-center fa fa-trash"
                        (click)="deleteBuilding(item, i)">
                  </span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
 
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">لیست اشتراک ها</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex align-items-end">
          <div class="mb-4 col-md-6 mt-2">
            <div class="w-100">
              <label for="filterBuilding" class="form-label">عنوان اشتراک</label>
              <!-- <input class="form-control text-right" id="filterBuilding" placeholder=""
                     [(ngModel)]="filterBuilding"
                     name="filterBuilding"
              > -->
            </div>
          </div>
          <div class="mb-4 col-auto mt-2">
            <div class="btn btn-primary" (click)="getListPower()">
              جستجو
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col" width="40">#</th>
                <th scope="col">نام مشترک</th>
                <!-- <th scope="col">نوع</th> -->
                <th scope="col">کد آدرس</th>
                <th scope="col" width="80">عملیات</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of powerList; let i = index">
                <tr>
                  <th scope="row" width="40">{{i + 1}}</th>
                  <td>{{item.name}}</td>
                  <!-- <td>{{buildingEnum[item.useType].toString()}}</td> -->
                  <td>{{item.addressCode}}</td>
                  <td width="40">
                  <span class="cursor-pointer text-center btn btn-primary"
                        data-dismiss="modal"
                        (click)="selectPower(item)">انتخاب</span>
                  </td>
  
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  