@import "~src/assets/style/variables";

.main-header {
  display: flex;
  padding: 0 15px;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;

  .brand-logo {
    color: #45d399;
  }

  .user-info {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    span {
      color: #333333;
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .fa-power-off {
    padding: 9px 10px;
    background: #ececec;
    border: 1px solid #e0e5e6;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
      background: #1f1f1f;
    }
  }
}
