<div class="col-12">
  <div class="card">
    <div class="card-header flex-card-header">
      <h1>
        لیست تولید نیروگاه
      </h1>
      <div class="d-flex">
        <button class="btn btn-primary" [routerLink]="'/index/user/configuration/generationBillAdd'">افزودن تولید نیروگاه</button>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col" width="40">#</th>
          <th scope="col">نوع نیروگاه</th>
          <th scope="col">نوع مصرف</th>
          <th scope="col">ظرفیت</th>
          <th scope="col">از تاریخ</th>
          <th scope="col">تا تاریخ</th>
          <th scope="col">تعداد روز دوره </th>
          <th scope="col">میزان تولید</th>
          <th scope="col" width="280" colspan="2" class="text-center">عملیات</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let generation of generationBillList; let i = index" class="vertical-align-middle">
          <th scope="row">{{(i + 1 + (pageIndex * generationBillList.length))}}</th>
          <!-- <td>{{generationTypeEnum[generation.generationType].toString()}}</td>
          <td>{{consumptionTypeEnum[generation.consumptionType].toString()}}</td>            
          <td>{{generation.capacity}}</td> -->
          <td></td>
          <td></td>
          <td></td>
          <td>{{this.moment.getJaliliDateFromIso(generation.fromDate)}}</td>
          <td>{{this.moment.getJaliliDateFromIso(generation.toDate)}}</td>
          <td>{{generation.numberDays}}</td>
          <td>{{generation.consumptionDurat}}</td>     
          <td width="40"><span class="cursor-pointer fa fa-edit"
                               [queryParams]="{id: generation.id}"
                               [routerLink]="'/index/user/configuration/generationBillAdd'"></span></td>
          <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteGeneration(i, generation.id)"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
