
<div class="card">
  <div class="card-body">
        <div class="card-header flex-card-header">
          <strong> خط مبنا  </strong>


          <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
            <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons">
             <form [formGroup]="form" class="w-100">
               <div class="form-group row">
                 <!-- نوع قبض -->
              
                 <!-- نوع پارامتر -->
                 <!-- <div class="  mb-4  col-md-2">
                   <div class="w-100">
                     <label for="billAnalysisParam" class="form-label"> پارامتر</label>
                     <select id="billAnalysisParam"
                             class="form-control text-right"
                             [(ngModel)]="billAnalysisDto.billAnalysisParam"
                             (change)="updateChart()"
                             formControlName="billAnalysisParam"
                             name="billAnalysisParam">
                       <option *ngFor="let item of billAnalysisParamEnum | enumKeyValue" [value]="item.key">
                         {{item.value}}
                       </option>
                     </select>
                   </div>
                 </div> -->

                 <div class="col-auto mr-auto">
                  <div class="btn-group btn-group-toggle">
                    <div class="btn-group">
                      <div class="dropdown e-not-close">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          پارامترهای موثر
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <div class="p-1" *ngFor="let item of effectiveParameterList; let i = index">
                            <input type="checkbox" class="form-check-input"
                                   [ngModel]="getEffectiveParameterNgModel(item)"
                                   (change)="onChangeEffectiveParameter($event, item)"
                                   name="{{item}}" id="{{item}}">
                            <label class="form-check-label w-100 pr-3" for="{{item}}">{{item}}</label>
                          </div>
                          <!--                              <div>-->
                          <!--                                <input type="checkbox" class="form-check-input" name="EDD" [(ngModel)]="chartFilter.effectiveParameterList" id="EDD">-->
                          <!--                                <label class="form-check-label w-100" for="EDD">EDD</label>-->
                          <!--                              </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- روزانه ماهانه -->
                <div class=" mb-4 col-md-2">
                  <div class="w-100">
                    <label for="energyType" class="form-label">روزانه ماهانه</label>
                    <select id="energyType"
                            class="form-control text-right"
                            [(ngModel)]="baseLineDto.energyType"
                            formControlName="energyType"
                            name="energyType">
                            <!-- (change)="updateChart()" -->
                      <option *ngFor="let item of energyTypeEnum | enumKeyValue" [value]="item.key">
                        {{item.value}}
                      </option>
                    </select>
                  </div>
                </div>  
                  <!-- نوع حامل -->
                 <div class=" mb-4 col-md-2">
                  <div class="w-100">
                    <label for="energyType" class="form-label">نوع حامل</label>
                    <select id="energyType"
                            class="form-control text-right"
                            [(ngModel)]="baseLineDto.energyType"
                            formControlName="energyType"
                            name="energyType">
                            <!-- (change)="updateChart()" -->
                      <option *ngFor="let item of energyTypeEnum | enumKeyValue" [value]="item.key">
                        {{item.value}}
                      </option>
                    </select>
                  </div>
                </div>  
            <!-- تاریخ شروع   -->
            <div class="mb-4 col-md-2">
              <div class="w-100">
                <label for="fromDate" class="form-label">از تاریخ</label>
                <input class="form-control text-right" id="fromDate" placeholder=""
                        formControlName="fromDate"
                        name="fromDate">
              </div>
              <app-alert-error [data]="form.controls['fromDate']" ></app-alert-error>
            </div>
                 <!-- تاریخ اتمام   -->
                 <div class="mb-4 col-md-2">
                 <div class="w-100">
                   <label for="toDate" class="form-label">تا تاریخ</label>
                   <input class="form-control text-right" id="toDate" placeholder=""
                           formControlName="toDate"
                           name="toDate">
                 </div>
                 <app-alert-error [data]="form.controls['toDate']" ></app-alert-error>
                 </div>

     
               </div>
             </form>
            </div>
          </div>

        </div>  
                  <!-- اطلاعات خط مبنا -->
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="row" style="padding-top: 20px;">
                          <div class="col-lg-12">
                            <div class="card border-primary">
                              <!-- عنوان جدول -->
                              <div class="card-header flex-card-header"><strong >  انتخاب ساختمان یا تاسیس </strong> </div> 
                              <!--جدول ساختمان و تاسیس  -->
                              <div class="card-body">
                                <table class="table table-responsive-sm table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col" width="20">#</th>
                                      <th scope="col">نام </th>
                                      <th scope="col" width="20" class="text-center">عملیات</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let building of buildingList; let i = index">
                                      <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>
                                      <!-- <td>{{building.name}}</td> -->
                                      <!-- <td>{{useTypeBuildingEnum[building.useType].toString()}}</td> -->
                                      <!-- <td>{{building.useFullArea}}</td>
                                      <td>{{building.useFullArea}}</td> -->
                                      <td width="20"><span class="cursor-pointer fa fa-edit"
                                        [queryParams]="{id: instrument.id}"
                                        [routerLink]="'/index/user/configuration/createInstrument'"></span></td>
                                    </tbody>
                                  </table>
                              </div>
                            </div> 
                          </div> 
                        </div> 
                        <!-- نمودار  -->
        
                      </div>
                    </div>
                  </div>
        

      </div>
</div>




      <!-- </div>
</div> -->
<div class="row" style="padding-top: 20px;">
  <div class="col-lg-12">
    <div class="card border-primary">
    <!-- عنوان جدول -->
    <div class="card-header flex-card-header">
      <strong> نمودار</strong>
    </div>       


  </div>       
</div>       
</div>       

              <!-- نمودار  -->
<!-- /////////////////// -->
<div class="e-card" id="chart">
    <div class="card-header">
      چارت
    </div>
    <div class="card-body">
      <div class="row">
        <div class="chart w-100">
          <div class="filter">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-2 col-md-3">
                  <div class="w-100">
                    <label for="startDate" class="form-label">از تاریخ</label>
                    <input class="form-control text-right" id="startDate" placeholder=""
                           name="startDate"
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-3">
                  <div class="w-100">
                    <label for="endDate" class="form-label">تا تاریخ</label>
                    <input class="form-control text-right" id="endDate" placeholder=""
                           name="endDate"
                    >
                  </div>
                </div>




                <div class="col-auto mr-auto">
                  <div class="btn-group btn-group-toggle">
                    <div class="btn-group">
                      <div class="dropdown e-not-close">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          پارامترهای موثر
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <div class="p-1" *ngFor="let item of effectiveParameterList; let i = index">
                            <input type="checkbox" class="form-check-input"
                                   [ngModel]="getEffectiveParameterNgModel(item)"
                                   (change)="onChangeEffectiveParameter($event, item)"
                                   name="{{item}}" id="{{item}}">
                            <label class="form-check-label w-100 pr-3" for="{{item}}">{{item}}</label>
                          </div>
                          <!--                              <div>-->
                          <!--                                <input type="checkbox" class="form-check-input" name="EDD" [(ngModel)]="chartFilter.effectiveParameterList" id="EDD">-->
                          <!--                                <label class="form-check-label w-100" for="EDD">EDD</label>-->
                          <!--                              </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="btn-group btn-group-toggle">
                    <label for="MONTHLY" class="btn btn-outline-secondary"
                           [ngClass]="{'active': chartFilter.period === periodEnum[periodEnum.MONTHLY.toString()]}">
                      ماهانه
                      <input type="radio" id="MONTHLY" name="period"
                             [value]="periodEnum[periodEnum.MONTHLY].toString()" [(ngModel)]="chartFilter.period">
                    </label>
                    <label for="DAILY" class="btn btn-outline-secondary"
                           [ngClass]="{'active': chartFilter.period === periodEnum[periodEnum.DAILY.toString()]}">
                      روزانه
                      <input type="radio" id="DAILY" name="period" [value]="periodEnum[periodEnum.DAILY]"
                             [(ngModel)]="chartFilter.period">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <hr>
          </div>
          <div class="col-12">
            <div class="nav-tabs-boxed nav-tabs-boxed-right">
              <ul class="nav nav-tabs flex-column" role="tablist">
                <li class="nav-item active">
                  <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                     aria-controls="home" aria-selected="true">
                    نمودار خط مبنا
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                     aria-controls="profile" aria-selected="false">
                    خط مبنا به تفکیک حامل
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#messages" role="tab"
                     aria-controls="messages" aria-selected="false">
                     خط مبنا پارامترها
                    </a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                  <ng-container
                    *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.LINEAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="options2"></app-chart>
                    <!-- <div echarts [autoResize]="true" [loading]="isLoadingChart" style="min-height: 400px; max-height: 400px" [options]="options2" class="demo-chart"></div>-->
                  </ng-container>
                  <ng-container *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.BAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="options"></app-chart>
                  </ng-container>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                  <ng-container
                    *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.LINEAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="optionsOneGraph2"></app-chart>
                    <!--  <div echarts [autoResize]="true" style="min-height: 400px; max-height: 400px" [loading]="isLoadingChart" [options]="optionsOneGraph2" class="demo-chart"></div>-->
                  </ng-container>
                  <ng-container *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.BAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="optionsOneGraph"></app-chart>
                    <!--  <div echarts [autoResize]="true" style="min-height: 400px; max-height: 400px" [loading]="isLoadingChart" [options]="optionsOneGraph" class="demo-chart"></div>-->
                  </ng-container>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel">
                  <ng-container
                    *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.LINEAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="optionsThreeGraph2"></app-chart>
                    <!--                        <div echarts [autoResize]="true" [loading]="isLoadingChart" style="min-height: 400px; max-height: 400px" [options]="optionsThreeGraph2" class="demo-chart"></div>-->
                  </ng-container>
                  <ng-container *ngIf="chartFilter.chartType === chartTypeEnum[chartTypeEnum.BAR.toString()];">
                    <app-chart [isLoadingChart]="isLoadingChart" [options]="optionsThreeGraph"></app-chart>
                    <!--                        <div echarts [autoResize]="true" [loading]="isLoadingChart" style="min-height: 400px; max-height: 400px" [options]="optionsThreeGraph" class="demo-chart"></div>-->
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>