/* The sidebar menu */
.sidenav {
  max-height: calc(100vh - 150px);

    // height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index:1; /* Stay on top */

    overflow-x: hidden; /* Disable horizontal scroll */
    // padding-top: 20px;
  }