<mat-sidenav-container class="example-container">
  
  <mat-sidenav-content>
    <div class="grid-container">    
        <mat-toolbar>
        <span>مدیریت دارایی</span>
        <a mat-button routerLink="bill"         routerLinkActive="active-link "   > قبوض </a>
        <a mat-button routerLink="building"     routerLinkActive="active-link "   >ساختمان ها </a>
        <a mat-button routerLink="instrument"   routerLinkActive="active-link "   >تجهیزات</a>
        
      </mat-toolbar>     

      <router-outlet></router-outlet>
    
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>






