<div class="col-12">
  <div class="card">
    <div class="card-header flex-card-header">
      <h1>
        لیست کنتورهای انرژی
      </h1>
      <div class="d-flex">
        <button class="btn btn-primary" [routerLink]="'/index/user/configuration/createEnergy'">افزودن کنتور</button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col" width="40">#</th>
            <th scope="col">نام مشترک</th>
            <th scope="col">حامل انرژی</th>
            <th scope="col">واحد انرژی</th>
            <th scope="col">شماره کنتور</th>
            <th scope="col"> ظرفیت</th>
            <th scope="col"> (kw/...)ضریب تبدیل</th>
            <th scope="col" width="120">تعداد ساختمان</th>
            <th scope="col" width="80" colspan="2" class="text-center">عملیات</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let energy of energyList; let i = index" class="vertical-align-middle">
            <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>
            <td>{{energy.name}}</td>
            <td>{{energy.energyCarrier}}</td>
            <td>{{energy.energyUnit}}</td>
            <td>{{energy.shareNumber}}</td>
            <td>{{energy.capacity}}</td>
            <td>{{energy.kiloWatConvert}}</td>
            <td>{{energy.buildingNum}}</td>
            <td width="40"><span class="cursor-pointer fa fa-edit"
                                 [queryParams]="{id: energy.id}"
                                 [routerLink]="'/index/user/configuration/editEnergy'"></span></td>
            <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteEnergy(i, energy.id)"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <app-paginator
        [matPaginator]="false"
        [totalPages]="totalPages"
        [totalElements]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[1,5,10,15,25]"
        [showFirstLastButtons]="true"
        (page)="changePage($event)"
      ></app-paginator>
    </div>
  </div>
<!--  <div class="title-header d-flex justify-content-between align-items-center">-->
<!--    <div>-->
<!--      <h1>-->
<!--        <strong>لیست اشتراک های انرژی </strong>-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="d-flex">-->
<!--      <button class="btn btn-primary" [routerLink]="'/index/user/configuration/createEnergy'">افزودن اشتراک</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr>-->

</div>
