<div class="col-12">
    <div class="title-header d-flex justify-content-between align-items-center">
      <div>
        <h1>
          <strong>تحلیل و گزارش گیری </strong>
        </h1>
        <p class="sub-title-header">
          با انتخاب منطقه مورد نظر لیست ساختمان های آن منطقه را داشته باشید
        </p>
      </div>

    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-auto tree-view-box">
      <!-- <app-tree-view (regionOutput)="getRegion($event)"></app-tree-view> -->
    </div>
  </div>