<div class="col-12">
  <div class="card">
    <div class="card-header flex-card-header">
      <h1>
        <!-- <span *ngIf="!facilityId">افزودن تجهیز </span>
        <span *ngIf="facilityId">ویرایش تجهیز </span> -->
        افزودن تاسیسات
      </h1>       
      <div class="d-flex">
        <button class="btn btn-primary" [routerLink]="'/index/user/configuration/facilityList'">لیست تاسیسات
        </button>
      </div>
    </div>
    <hr>
  <div class="col-12">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="card h-100">
          لیست مناطق
          <hr>
          <!-- <div class="card-body p-0 h-100">
            <div class="tree-view-box">
              <app-tree-view (regionOutput)="getRegion($event)"></app-tree-view>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md">
        <form [formGroup]="form" class="w-100" (ngSubmit)="updateFacility()">
          <fieldset class="fieldset-border">
            <legend>اطلاعات تاسیس</legend>
            <div class="form row">
              <!-- نام تاسیس -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="name" class="form-label">نام تاسیس</label>
                  <input class="form-control text-right" id="name" placeholder=""
                        [(ngModel)]="facilityDto.name"
                        formControlName="name"
                        name="name">
                </div>
                <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
              </div>
              <!-- نوع کاربری -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="useType" class="form-label">نوع کاربری</label>
                  <input class="form-control text-right" id="useType" placeholder=""
                        type="number" min="0"
                        maxlength="12"
                        [(ngModel)]="facilityDto.useType"
                        formControlName="useType"
                        name="useType">
                </div>
                <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
              </div>
              <!-- بانک خازنی -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="CapacitorBank" class="form-label">بانک خازنی</label>
                  <input class="form-control text-right" id="CapacitorBank" placeholder="kvar"
                        type="number" min="0"
                        [(ngModel)]="facilityDto.CapacitorBank "
                        formControlName="CapacitorBank"
                        name="CapacitorBank"
                        maxlength="3">
                </div>
                <app-alert-error [data]="form.controls['CapacitorBank']" [touched]="touched"></app-alert-error>
              </div>
              <!-- توضیحات -->
              <div class="mb-4 col-12">
                <div class="w-100">
                  <label for="explanation" class="form-label">توضیحات</label>
                  <textarea class="form-control text-right" id="explanation" placeholder=""
                            [(ngModel)]="facilityDto.explanation"
                            formControlName="explanation"
                            name="explanation"
                  ></textarea>
                </div>
                <app-alert-error [data]="form.controls['explanation']" [touched]="touched"></app-alert-error>
              </div>
              <!-- آدرس -->
              <div class="mb-4 col-12">
                <div class="w-100">
                  <label for="address" class="form-label">آدرس</label>
                  <textarea class="form-control text-right" id="address" placeholder=""
                            [(ngModel)]="facilityDto.address"
                            formControlName="address"
                            name="address"
                  ></textarea>
                </div>
                <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
              </div>
              <!-- <div class="col-12">
                <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="!facilityId">ثبت</button>
                <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="facilityId">ویرایش</button>
              </div> -->
            </div>
          </fieldset>
        </form>
      </div>
    </div>  
  </div>
 
