<mat-toolbar class="secondary-toolbar" >   
    <span class="submenu-title">تنظیمات حساب کاربری &nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ng-template [ngIf]="!isAddMode">
      <button   mat-flat-button color="warn"  dir="rtl">
        <span class="material-icons" dir="rtl">perm_identity</span>
        افزودن کاربر جدید
      </button >
    </ng-template>

  </mat-toolbar>
  <mat-accordion>
        <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                desktop_windows
                </span>
              Account information
            </mat-panel-title>            
          </mat-expansion-panel-header>
      
        </mat-expansion-panel> -->
      
        <mat-expansion-panel [expanded]="true"  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                person_outlined
                </span>
              اطلاعات حساب کاربری
            </mat-panel-title>
          </mat-expansion-panel-header>

    <form [formGroup]="form"  class="form" dir="rtl">
          <mat-grid-list cols="2"  rowHeight="100px">
          <!-- nameformGroup -->
          <mat-grid-tile colspan="1" rowspan="7">
            <div class="fields">
              
              <mat-form-field class="form-element" appearance="fill">
                <mat-label>نام</mat-label>
                <input matInput placeholder="نام خود را وارد کنید" formControlName="firstName">
              </mat-form-field>
              
              <mat-form-field class="form-element" appearance="fill">
                <mat-label>نام خانوادگی</mat-label>
                <input matInput placeholder="نام خانوادگی خود را وارد کنید" formControlName="lastName">
              </mat-form-field>    
              
              <mat-form-field class="form-element" appearance="fill">
                <mat-label>سمت سازمانی </mat-label>
                <input matInput placeholder="عنوان پست سازمانی را انتخاب کنید" formControlName="title">
              </mat-form-field>       
              
              <mat-form-field class="form-element" appearance="fill">
                <mat-label>نقش کاربر</mat-label>
                <input  matInput  placeholder="وظیفه سازمانی" formControlName="permissionLevel">
              </mat-form-field>
              
              <mat-form-field class="form-element" appearance="fill">
                <mat-label>واحد سازمانی</mat-label>
                <input  matInput  placeholder="موقفعیت سازمانی" formControlName="position">
                </mat-form-field>
                
                <mat-form-field class="form-element" appearance="fill">
                <mat-label> شماره پرسنلی</mat-label>
                <input  matInput  placeholder="123456" formControlName="userID">
              </mat-form-field>
              
            </div>
          </mat-grid-tile>

          
          <mat-grid-tile colspan="1" rowspan="7">
            
  
            <div>
              <mat-form-field class="form-element" appearance="fill">
                <mat-label> شماره تلفن </mat-label>
                <input  matInput  placeholder="02133xxx1234" formControlName="phoneNumber">
              </mat-form-field>

              <mat-form-field class="form-element" appearance="fill">
            <mat-label>شماره همراه</mat-label>
          <input  matInput  placeholder="0912xxx1234 " formControlName="mobile">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>آدرس پستی</mat-label>
          <input  matInput  placeholder="...@....com" formControlName="email">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label> آدرس</mat-label>
          <input  matInput  placeholder="تهران، ....، پلاک 2" formControlName="address">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label> نام کاربری</mat-label>
          <input  matInput  placeholder="User Name" formControlName="userName">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label> عکس</mat-label>
          <input  matInput  placeholder="انتخاب عکس " formControlName="picture">
        </mat-form-field>
<!--         
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>  رمز</mat-label>
          <input  matInput  placeholder="Username" formControlName="password">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>  تغییر رمز</mat-label>
          <input  matInput  placeholder="Username" formControlName="changePassword">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>  رمز قدیم </mat-label>
          <input  matInput  placeholder="Username" formControlName="oldPassword">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>  رمز جدید </mat-label>
          <input  matInput  placeholder="Username" formControlName="newPassword">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>  تکرار رمز</mat-label>
          <input  matInput  placeholder="Username" formControlName="confirmPassword">
        </mat-form-field>
         -->
      </div>
      </mat-grid-tile>
    </mat-grid-list>

    </form>
        </mat-expansion-panel>
      

        <!-- Permissions -->
        <!-- <mat-expansion-panel [expanded]="true" (opened)="setStep(2)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                vpn_key_outlined
                </span>
              Permissions
            </mat-panel-title>
          </mat-expansion-panel-header>
          <user-edit-permission></user-edit-permission>
        </mat-expansion-panel> -->
      
      </mat-accordion>
      
      <!-- Copyright 2020 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
          
 
  <mat-toolbar class="footing-toolbar" >  
    <ng-template [ngIf]="!isAddMode">
      <button   mat-flat-button color="warn" class="btndelete " >
        <span class="material-icons"  >delete_forever</span>حذف
      </button > 
    </ng-template>
    <button  (click)="onSubmit()" mat-flat-button color="warn" >
        <span class="material-icons"  >save</span>ذخیره
    </button >
    
    <button  (click) = "resetForm()" mat-flat-button color="warn">
        <span class="material-icons"  >restore</span>کنسل 
    </button >
  </mat-toolbar>
  

