<div class="form-group d-flex">
  <label for="file" class="btn-upload" *ngIf="!fileToUpload">بارگزاری فایل</label>
  <input type="file"
         *ngIf="!fileToUpload"
         id="file"
         class="d-none"
         accept="image/*"
         [multiple]="false"
         (change)="handleFileInput($event.target.files)">
  <div class="btn-upload ml-2"
          style="margin:0"
          *ngIf="fileToUpload"
          (click)="uploadFileToActivity()">
    <i style="font-size: 24px;color: #1f1f1f;margin-left: 10px"
       *ngIf="loader"
       class="fa fa-spinner fa-pulse fa-1x"></i>
    بارگزاری
  </div>
  <div class="btn-upload"
          style="margin:0"
          *ngIf="fileToUpload"
          (click)="cancelUpload()">
    انصراف
  </div>

</div>
