<div class="container-fluid">
    <!-- لیست کاربران -->
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12">
          <div class="card border-primary">
             <!-- عنوان جدول -->
            <div class="card-header flex-card-header"><strong > لیست کاربران </strong> </div> 
            <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col" width="20">#</th>
                      <th scope="col">نام </th>
                      <th scope="col">نام خانوادگی</th>
                      <th scope="col">واحد سازمانی</th>
                      <th scope="col">رتبه سازمانی</th>
                      <th scope="col" width="40" colspan="3" class="text-center">عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let user of userList; let i = index"> 
                      <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>-->
                      <!-- <td>{{nameEnum[instrument.name].toString()}}</td>
                      <td>{{energyCarierEnum[instrument.instrumentCarrier].toString()}}</td>
                      <td>{{useTypeInstrumentEnum[instrument.instrumentUsage].toString()}}</td>
                      <td>{{instrument.instrumentNum}}</td> -->
               
                      <!--<td width="40"><span class="cursor-pointer fa fa-edit"
                                           [queryParams]="{id: instrument.id}"
                                           [routerLink]="'/index/user/configuration/createInstrument'"></span></td>
                      <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteInstrument(i, instrument.id)"></span></td> -->
                     </tbody>
                  </table>
              </div>
           </div>
        </div> 
    </div> 

 <!--جدول اطلاعات کاربر -->
  <div> 
    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-12">
        <div class="card border-success">
          <!-- عنوان جدول -->
          <div class="card-header flex-card-header">
            <strong> اطلاعات کاربر </strong>
          </div>        
        </div>      
      </div> 
    </div> 
  </div>  
 </div> 