<div class="container-fluid">
    <!-- لیست کاربران -->
    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-12">
      <div class="card border-primary">
         <!-- عنوان جدول -->
        <div class="card-header flex-card-header"><strong > مدیریت کاربران </strong> </div> 
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-12">
              <hr class="m-1">
            </div>
            <div class="col-12 mb-4 mt-3">
              <strong>{{profile.firstName}} - {{profile.lastName}}</strong>
            </div>
          </div>
          <fieldset class="fieldset-border">
            <legend>رمزعبور</legend>
            <form [formGroup]="passForm" (ngSubmit)="passwordUpdate()">
              <div class="row">
                <div class="mb-4 col-md-6">
                  <div class="w-100">
                    <label for="password" class="form-label">رمزعبور</label>
                    <input class="form-control text-right" type="password" id="password" placeholder=""
                            [(ngModel)]="password.password"
                            formControlName="password"
                            name="password"
                    >
                  </div>
                  <app-alert-error [data]="passForm.controls['password']"></app-alert-error>
                </div>
                <div class="mb-4 col-md-6">
                  <div class="w-100">
                    <label for="passwordConfirm" class="form-label">تکرار رمزعبور</label>
                    <input class="form-control text-right" id="passwordConfirm" placeholder=""
                            type="password"
                            [(ngModel)]="password.passwordConfirm"
                            formControlName="passwordConfirm"
                            name="passwordConfirm"
                    >
                  </div>
                  <app-alert-error [data]="passForm.controls['passwordConfirm']"></app-alert-error>
                  <div class="invalid-alert"
                        *ngIf="(passForm.controls['passwordConfirm'].touched || touched) && passForm.controls['passwordConfirm'].hasError('passwordMismatch')">رمز عبور یکسان نیست!</div>
                </div>
              </div>
              <button type="submit" class="submitForm btn btn-primary text-center ml-3">ویرایش رمزعبور</button>
            </form>
          </fieldset>
          <div class="row mt-3">
            <div class="col-12">
              <hr class="m-1">
            </div>
            <div class="col-12 mb-4 mt-3">
              <strong>اطلاعات سیستمی</strong>
            </div>
          </div>
                <table class="table table-responsive-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col" width="20">#</th>
                      <th scope="col">نام و نام  خانوادگی</th>
                      <th scope="col" width="40" colspan="3" class="text-center">عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let user of userList; let i = index"> 
                      <th scope="row" >{{(i + 1 + (pageIndex * pageSize))}}</th>
                      <td>{{user.firstName}} - {{user.lastName}}
                        
                    </td>
                    <td>
                      <a href="#editButon">
                        <span  class="cursor-pointer text-center fa fa-edit"
                         (click)="myFunction(user)" >
                         </span>
                        </a>
                    </td>
                  </tbody>
                  </table>
              </div>
           </div>
      </div>      
    </div> 
</div>