<div class="row" dir="{{null | i18ndir}}">
  <div class="col-12">

    <div class="search">
      <div class="search-box">
        <i class="fa fa-search" style="cursor: pointer" (click)="search()"></i>
        <input class="form-control search-input w-100"
               [placeholder]="searchTitle ? searchTitle : 'crud.search.search.title' | i18n"
               [(ngModel)]="term"
        >
      </div>
    </div>
  </div>
  <!--  <div class="col-">-->
  <!--    {{title ? title : 'crud.search.title' | i18n }}-->
  <!--  </div>-->
  <!--  <div class="col-8">-->
  <!--    <ng-content></ng-content>-->
  <!--  </div>-->
  <!--  <div class="col-2">-->
  <!--    <button class="btn-add"-->
  <!--            (click)="search()">{{searchTitle ? searchTitle : 'crud.search.search.title' | i18n}}</button>-->
  <!--  </div>-->
</div>
