
<mat-sidenav-container class="sidenav-container" >
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">

 
  <mat-nav-list>
    <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
</mat-nav-list>

</mat-sidenav> -->
  <mat-sidenav-content>
    <div fxLayout="column" fxFlexFill>
    <mat-toolbar class="secondary-toolbar" color="primary" >
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
       <span class="menu-spacer"></span>
       <!-- <a mat-button routerLink="/monitored-units"> <mat-icon>receipt_long</mat-icon> ساختمانها </a> -->
       <!-- <a mat-button routerLink="/trends"> <mat-icon>trending_up</mat-icon> تحلیل </a> -->
       <a mat-button routerLink="/management/users" dir="rtl"> <mat-icon>fact_check</mat-icon> مدیریت </a>
       <a mat-button [matMenuTriggerFor]="modiriant" dir="rtl"> <mat-icon>fact_check</mat-icon> ورود اطلاعات</a>
       <mat-menu #modiriant="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="Structur" dir="rtl">ساختاری</button>
        <button mat-menu-item [matMenuTriggerFor]="Timing" dir="rtl">زمانی</button>
        <button mat-menu-item [matMenuTriggerFor]="Userss" dir="rtl">کاربران</button>
        <button mat-menu-item [matMenuTriggerFor]="Bills" dir="rtl">قبوض</button>

        <mat-menu #Structur="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="Bildings" dir="rtl">ساختمانها</button>
          <button mat-menu-item [matMenuTriggerFor]="Instruments" dir="rtl">تجهیزات</button>
          <button mat-menu-item [matMenuTriggerFor]="BilProperty" dir="rtl">مشخصات اشتراک</button>
          <button mat-menu-item >منطقه بندی </button>
          <button mat-menu-item > آب و هوا  </button>
           </mat-menu>
  
           <mat-menu #Timing="matMenu">
            <button mat-menu-item >قبض برق  </button>
            <button mat-menu-item >قبض گاز  </button>
            <button mat-menu-item >قبض اب  </button>
             </mat-menu>

             <mat-menu #BilProperty="matMenu">
              <button mat-menu-item >قبض برق  </button>
              <button mat-menu-item >قبض گاز  </button>
              <button mat-menu-item >قبض اب  </button>
               </mat-menu>
      </mat-menu>
      <mat-menu #Bildings="matMenu">
        <button mat-menu-item >مدیریت ساختمان</button>
        <button mat-menu-item >افزودن ساختمان  </button>
       </mat-menu>
       <mat-menu #Instruments="matMenu">
        <button mat-menu-item >مدیریت تجهیزات</button>
        <button mat-menu-item >افزودن تجهیز  </button>
       </mat-menu>
       <mat-menu #Userss="matMenu">
        <button mat-menu-item >مدیریت کاربران</button>
        <button mat-menu-item >افزودن کاربر  </button>
       </mat-menu>
       <mat-menu #Bills="matMenu">
        <button mat-menu-item >مدیریت کاربران</button>
        <button mat-menu-item >افزودن کاربر  </button>
       </mat-menu>
       <a mat-button [matMenuTriggerFor]="maduls" dir="rtl"> <mat-icon>fact_check</mat-icon> ماژولها </a>
       <mat-menu #maduls="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="ISO" dir="rtl">استاندارد</button>
        <button mat-menu-item [matMenuTriggerFor]="Green" dir="rtl">سبز</button>
        <button mat-menu-item [matMenuTriggerFor]="Size" dir="rtl">سایزینگ</button>
      </mat-menu>

        <mat-menu #ISO="matMenu">
         <button mat-menu-item >سیستم مدیریت انرژی</button>
         <button mat-menu-item >(مبحث 19 )مقررات ملی ساختمان</button>
         <button mat-menu-item >ISO 50001</button>
        </mat-menu>

         <mat-menu #Green="matMenu">
         <button mat-menu-item >مدیریت سبز</button>
         <button mat-menu-item >مدیریت آب</button>
         <button mat-menu-item >مدیریت کربن</button>
         <button mat-menu-item >سیستم فتولتائیک</button>
         <button mat-menu-item >آبگرمکن خورشیدی</button>
        </mat-menu>

        <mat-menu #Size="matMenu">
         <button mat-menu-item >سایزینگ</button>
         <button mat-menu-item >سایزینگ سیستم</button>
       </mat-menu>
        
         <a mat-button > <mat-icon>fact_check</mat-icon> مستندات </a>
       <a mat-button routerLink="/dashboard"> <mat-icon>dashboard</mat-icon>تحلیل و گزارشگیری </a>
        <!-- <a mat-button routerLink="/first-page"> <mat-icon>settings</mat-icon> تنظیمات </a> -->
        <a mat-button routerLink="/first-page"> <mat-icon>help</mat-icon> راهنما </a>
        <span class="spacer"></span>
        <div *ngIf="user==null; else elseBlock">
          <a mat-button routerLink="/login"> <mat-icon>login</mat-icon> ورود </a>
        </div>
        <ng-template #elseBlock>
          <a mat-button (click)="logout()"><mat-icon>logout</mat-icon>خروج</a>
          <div mat-card-avatar class="example-header-image"></div>
        </ng-template>
    
        <!-- <a mat-button routerLink="/registration"> <mat-icon>contact_page</mat-icon> registeration </a> -->
    </mat-toolbar>

      <div fxFlex>
          <router-outlet></router-outlet> 
      </div>
      <span>designed by mrhb @hooshavaran</span> 
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

