<mat-toolbar class="secondary-toolbar">

    <span>قبوض :</span>


    <span><a mat-button routerLink="electric"   routerLinkActive #buildinglink="routerLinkActive"><mat-icon>fact_check</mat-icon> برق </a></span>
    <span><a mat-button routerLink="gas"   routerLinkActive #Userlink="routerLinkActive"   > <mat-icon>fact_check</mat-icon> گاز </a></span>
    <span>-</span>
    <span><a mat-button routerLink="list"   routerLinkActive #Billslink="routerLinkActive"   > <mat-icon>fact_check</mat-icon> لیست قبوض </a></span>
</mat-toolbar>


<router-outlet></router-outlet>