
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header flex-card-header">
          <strong> انرژی<small> برچسب </small>  </strong>
        </div>  
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <form [formGroup]="form" class="w-100">
                  <div class="form-group row">
                    <!-- سال -->
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="year" class="form-label">سال</label>
                        <input class="form-control text-right" id="year" placeholder="1399"
                              type="number" min="1300"
                              [(ngModel)]="energyLableDto.year"
                              formControlName="year"
                              name="year">
                      </div>
                      <app-alert-error [data]="form.controls['year']" [touched]="touched"></app-alert-error>
                    </div>
                  </div>
                </form>
                <div class="row" style="padding-top: 20px;">
                  <div class="col-lg-12">
                    <div class="card border-primary">
                      <!-- عنوان جدول -->
                      <div class="card-header flex-card-header"><strong > انتخاب ساختمان </strong> </div> 
                      <!--جدول ساختمان ها  -->
                      <div class="card-body">
                        <table class="table table-responsive-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col" width="20">#</th>
                              <th scope="col" width="100">نام ساختمان</th>
                              <th scope="col"  >مساحت مفید</th>
                              <th scope="col" width="40" class="text-center">عملیات</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let building of buildingList; let i = index">
                              <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>
                              <td>{{building.name}}</td>
                              <td>{{building.useFullArea}}</td>
                              <!-- <td width="40"><span class="cursor-pointer fa fa-edit"
                                [queryParams]="{id: building.id}"
                                [routerLink]="'/index/user/configuration/createInstrument'"></span></td> -->
                            </tbody>
                          </table>
                      </div>
                    </div> 
                  </div> 
                </div> 
              </div>
              <div class="col">
                <div class="c-chart-wrapper" >
                  <div class="col-12">
                    <div class="box-label-energy" *ngIf="energyLabel.ratio">
                      <div class="head">
                        <div class="right">
                          <img src="assets/image/enregy.jpg" alt="energy">
                        </div>
                        <div class="left">
                          <!--          نوع برچسب انرژی ساختمان را انتخاب کنید-->
                          {{energyLabel.labelType}}
                        </div>
                      </div>
                      <div class="result">
                        <div class="right">
                          <div class="tag" [ngClass]="energyLabel.label">
                            {{energyLabel.label}}
                          </div>
                        </div>
                        <div class="left">
                          <p>بازدهی بیشتر</p>
                          <ul>
                            <li><span>A</span></li>
                            <li><span>B</span></li>
                            <li><span>C</span></li>
                            <li><span>D</span></li>
                            <li><span>E</span></li>
                            <li><span>F</span></li>
                            <li><span>G</span></li>
                          </ul>
                          <p class="mb-0">بازدهی کمتر</p>
                        </div>
                      </div>
                      <div class="space">
              
                      </div>
                      <div class="energy-info energy-ratio">
                        <div class="text-center">نسبت انرژی:</div>
                        <div class="text-center">
                          میزان مصرف انرژی ساختمان نسبت به ساختمان ایده آل
                        </div>
                        <div>
                          R= {{energyLabel.ratio}}
                        </div>
                      </div>
                      <div class="energy-info">
                        <div class="text-center">شاخص مصرف انرژی:</div>
                        <div class="text-center">
                          برحسب کیلووات ساعتبر متر مربع در سال
                        </div>
                        <div>
                          {{energyLabel.consumptionIndex}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="card-footer">
          <div class="row text-center">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
              <div class="text-muted">برچسب </div><strong>انرژی</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      
              
              
          


     

