
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header flex-card-header">
          <strong>برچسب <small> انرژی </small>  </strong>
        </div>  
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <form [formGroup]="form" class="w-100">
                  <div class="form-group row">
                    <!-- سال -->
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="year" class="form-label">سال</label>
                        <input class="form-control text-right" id="year" 
                              type="number" min="1300"
                              [(ngModel)]="energyLableDto.year"
                              formControlName="year"
                              name="year">
                      </div>
                      <app-alert-error [data]="form.controls['year']" [touched]="touched"></app-alert-error>
                    </div>
                     <!-- انتخاب کاربری -->
                      <div class="left">
                     <div class="text-center">
                      <label for="energyLabelType" class="form-label">انتخاب کاربری </label>
                        <select name="energyLabelType" id="energyLabelType" 
                                class="form-control text-right"
                                formControlName="energyLabelType"
                                [(ngModel)]="energyLableDto.energyLabelType">
                                <option *ngFor="let item of energyLabelTypeEnum | enumKeyValue" [value]="item.key">
                                  {{item.value}}
                                </option>
                              </select>
                            </div>
                      <app-alert-error [data]="form.controls['energyLabelType']" [touched]="touched"></app-alert-error>
                    </div>
                  </div>
                </form>
                <div class="row" style="padding-top: 20px;">
                  <div class="col-lg-12">
                    <div class="card border-primary">
                      <!-- عنوان جدول -->
                      <div class="card-header flex-card-header"><strong > انتخاب ساختمان </strong> </div> 
                      <!--جدول ساختمان ها  -->
                      <div class="card-body">
                        <table class="table table-responsive-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col" width="20">#</th>
                              <th scope="col">نام ساختمان</th>
                              <th scope="col">کاربری</th>
                              <th scope="col">شهر</th>
                              <th scope="col">اقلیم</th>
                              <th scope="col" width="150">مساحت مفید</th>
                              <th scope="col" width="20" class="text-center">عملیات</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let building of buildingList; let i = index">
                              <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>
                              <td>{{building.name}}</td>
                              <td>{{useTypeBuildingEnum[building.useType].toString()}}</td>
                              <td>{{building.city}}</td>
                              <td>{{climateTypeEnum[building.climateType].toString()}}</td>
                              <td>{{building.useFullArea}}</td>
                              <td class="text-center">{{building.useFullArea}}</td>
                              <td width="40"><span class="cursor-pointer fa fa-edit"
                               (click)="getBuildingLabel(building._id)"></span></td>
                            </tbody>
                          </table>
                      </div>

                      <!-- ته برگ فرم -->
                      <div class = col-md-6>
                        <!-- صفحه بندی -->
                        <app-paginator
                        [matPaginator]="false"
                        [totalPages]="totalPages"
                        [totalElements]="length"
                        [pageSize]="pageSize"
                        [pageIndex]="pageIndex"
                        [pageSizeOptions]="[1,5,10,15,25]"
                        [showFirstLastButtons]="true"
                        (page)="changePage($event)"
                        ></app-paginator>
                    </div>


                    </div> 
                  </div> 
                </div> 
                <div class="row" style="padding-top: 20px;">
                  <div class="col-lg-12">
                    <div class="card border-success">
                      <!-- عنوان جدول -->
                      <div class="card-header flex-card-header"><strong > نتایج محاسبات </strong> </div> 
                      <!--جدول نتایج -->
                      <div class="card-body">
                        <table class="table table-responsive-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col" width="20">#</th>
                              <th scope="col">عنوان</th>
                              <th scope="col">واحد</th>
                              <th scope="col">مقدار</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="col">1</th>
                              <th scope="col">مصرف سالیانه برق</th>
                              <th scope="col">kWh</th>
                              <th scope="col">{{energyLabel.powerReceipt  | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">2</th>
                              <th scope="col">مصرف سالیانه گاز طبیعی</th>
                              <th scope="col">m3</th>
                              <th scope="col">{{energyLabel.gasReceipt  | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">3</th>
                              <th scope="col">مصرف سالیانه گازوییل</th>
                              <th scope="col">lit</th>
                              <th scope="col">{{energyLabel.GASOLIN  | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">4</th>
                              <th scope="col">مصرف سالیانه مازوت</th>
                              <th scope="col">lit</th>
                              <th scope="col">{{energyLabel.BENZIN  | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">5</th>
                              <th scope="col">مصرف سالیانه گاز</th>
                              <th scope="col">lit</th>
                              <th scope="col">{{energyLabel.GAS  | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">6</th>
                              <th scope="col">نسبت انرژی </th>
                              <th scope="col">R</th>
                              <th scope="col">{{energyLabel.ratio | number: '0.0-2'}}</th>
                            </tr>
                            <tr>
                              <th scope="col">7</th>
                              <th scope="col">شاخص مصرف انرژی </th>
                              <th scope="col">Index</th>
                              <th scope="col">{{energyLabel.consumptionIndex | number: '0.0-2'}}</th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div> 
                  </div> 
                </div> 
              </div>
              <!-- نمودار  -->
              <div class="col">
                <div class="c-chart-wrapper" >
                  <div class="col-12">
                    <div class="box-label-energy" *ngIf="energyLabel.ratio">
                      <div class="head">
                        <div class="right">
                          <img src="assets/image/enregy.jpg" alt="energy">
                        </div>
                        <div class="left">
                          <!--  نوع برچسب انرژی ساختمان راانتخاب کنید-->
                          {{energyLabel.labelType}}
                          
                        </div>
                      </div>
                     
                    <div class="result">
                        <div class="right">
                          <div class="tag" [ngClass]="energyLabel.label">
                            {{energyLabel.label}}
                          </div>
                        </div>
                        <div class="left">
                          <p>بازدهی بیشتر</p>
                          <ul>
                            <li><span>A</span></li>
                            <li><span>B</span></li>
                            <li><span>C</span></li>
                            <li><span>D</span></li>
                            <li><span>E</span></li>
                            <li><span>F</span></li>
                            <li><span>G</span></li>
                          </ul>
                          <p class="mb-0">بازدهی کمتر</p>
                        </div>
                      </div>
                      <div class="space">
              
                      </div>
                      <div class="energy-info energy-ratio">
                        <div class="text-center">نسبت انرژی:</div>
                        <div class="text-center">
                          میزان مصرف انرژی ساختمان نسبت به ساختمان ایده آل
                        </div>
                        <div>
                          R= {{energyLabel.ratio | number: '0.0-2'}}
                        </div>
                      </div>
                      <div class="energy-info">
                        <div class="text-center">شاخص مصرف انرژی:</div>
                        <div class="text-center">
                          برحسب kwh بر متر مربع در سال
                        </div>
                        <div>
                          {{energyLabel.consumptionIndex | number: '0.0-2'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="card-footer">
          <div class="row text-center">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
              <!-- <div class="text-muted"> </div> -->
              <!-- <strong>انرژی</strong> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      
              
              
          


     

