<div class="col-12">
    <div class="box-label-energy" *ngIf="energyLabel.ratio">
      <div class="head">
        <div class="right">
          <img src="assets/image/enregy.jpg" alt="energy">
        </div>
        <div class="left">
<!--          نوع برچسب انرژی ساختمان را انتخاب کنید-->
          {{energyLabel.labelType}}
        </div>
      </div>
      <div class="result">
        <div class="right">
          <div class="tag" [ngClass]="energyLabel.label">
            {{energyLabel.label}}
          </div>
        </div>
        <div class="left">
          <p>بازدهی بیشتر</p>
          <ul>
            <li><span>A</span></li>
            <li><span>B</span></li>
            <li><span>C</span></li>
            <li><span>D</span></li>
            <li><span>E</span></li>
            <li><span>F</span></li>
            <li><span>G</span></li>
          </ul>
          <p class="mb-0">بازدهی کمتر</p>
        </div>
      </div>
      <div class="space">

      </div>
      <div class="energy-info energy-ratio">
        <div class="text-center">نسبت انرژی:</div>
        <div class="text-center">
          میزان مصرف انرژی ساختمان نسبت به ساختمان ایده آل
        </div>
        <div>
          R= {{energyLabel.ratio}}
        </div>
      </div>
      <div class="energy-info">
        <div class="text-center">شاخص مصرف انرژی:</div>
        <div class="text-center">
          برحسب کیلووات ساعتبر متر مربع در سال
        </div>
        <div>
          {{energyLabel.consumptionIndex}}
        </div>
      </div>

    </div>

  </div>