<mat-grid-list cols="3"  rowHeight="100px">
    <!-- nameformGroup -->
    <mat-grid-tile colspan="2" rowspan="1">
        <form [formGroup]="form"  class="form name-state">
                <mat-form-field class="form-culomn" appearance="fill">
                    <mat-label>نام ساختمان</mat-label>
                    <input matInput placeholder="Enter name" formControlName="name" required>
                </mat-form-field>
        </form>
        <form [formGroup]="form"  class="form name-state">
          <mat-form-field class="form-culomn" appearance="fill">
              <mat-label>نوع ساختمان </mat-label>
              <input matInput placeholder="Enter name" formControlName="name" required>
          </mat-form-field>
  </form>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-toolbar class="footing-toolbar" >  
    <button   mat-flat-button color="warn" (click)="onDelete()" class="btndelete" >
      <span class="material-icons"  >delete_forever</span>حذف
    </button > 
    <button   mat-flat-button color="warn"  (click)="onSubmit()">
      <span class="material-icons" >save</span>ذخیره
    </button >
    
    <button  type="button" mat-flat-button color="warn">
      <span class="material-icons"  >restore</span>بازنشانی
    </button >
  </mat-toolbar>

  
  