<mat-toolbar class="secondary-toolbar" >   
    <button mat-icon-button >  <mat-icon>list</mat-icon></button>
    <span>تنظیمات تجهیز</span> &nbsp;&nbsp;
      <button   mat-flat-button color="warn" ><span class="material-icons">
        perm_identity
        </span>افزودن تجهیز جدید</button >
  </mat-toolbar>


<mat-grid-list cols="3"  rowHeight="100px">
    <!-- nameformGroup -->
    <mat-grid-tile colspan="2" rowspan="7">
        <form [formGroup]="form"  class="form name-state">

          <mat-form-field class="form-culomn" appearance="fill">
            <mat-label> نام تجهیز</mat-label>
            <input matInput placeholder="Enter name" formControlName="name" required>
        </mat-form-field> 

        <mat-form-field class="form-culomn" appearance="fill">
          <mat-label>کاربری</mat-label>
          <input matInput placeholder="Enter name" formControlName="usage" required>
      </mat-form-field> 

        <mat-form-field class="form-culomn" appearance="fill">
          <mat-label> واحد انرژی حامل </mat-label>
          <input matInput placeholder="Enter name" formControlName="unit" required>
      </mat-form-field> 

          <mat-form-field class="form-culomn" appearance="fill">
        <mat-label> نام انرژی حامل </mat-label>
        <input matInput placeholder="Enter name" formControlName="carrier" required>
    </mat-form-field> 

          <mat-form-field class="form-culomn" appearance="fill">
            <mat-label> تعداد    </mat-label>
            <input matInput placeholder="Enter name" formControlName="count" required>
        </mat-form-field>
        <mat-form-field class="form-culomn" appearance="fill">
          <mat-label> توان مصرفی     </mat-label>
          <input matInput placeholder="Enter name" formControlName="nominalValue" required>
      </mat-form-field>
      <mat-form-field class="form-culomn" appearance="fill">
        <mat-label> ساعت کارکرد روزانه     </mat-label>
        <input matInput placeholder="Enter name" formControlName="operatHour" required>
    </mat-form-field>
    <mat-form-field class="form-culomn" appearance="fill">
      <mat-label>تعداد روز کارکرد در سال     </mat-label>
      <input matInput placeholder="Enter name" formControlName="operatDay" required>
  </mat-form-field>
  <mat-form-field class="form-culomn" appearance="fill">
    <mat-label>تاریخ شروع کار تجهیز      </mat-label>
    <input matInput placeholder="Enter name" formControlName="startDate" required>
</mat-form-field>
<mat-form-field class="form-culomn" appearance="fill">
  <mat-label>تاریخ خاتمه کار تجهیز      </mat-label>
  <input matInput placeholder="Enter name" formControlName="endDate" required>
</mat-form-field>
<mat-form-field class="form-culomn" appearance="fill">
  <mat-label>ضریب همزمانی     </mat-label>
  <input matInput placeholder="Enter name" formControlName="synchron" required>
</mat-form-field>
  

 
</form>
</mat-grid-tile>
</mat-grid-list>

  <mat-toolbar class="footing-toolbar" >  
    <button   mat-flat-button color="warn" (click)="onDelete()" class="btndelete" >
      <span class="material-icons"  >delete_forever</span>حذف
    </button > 
    <button   mat-flat-button color="warn"  (click)="onSubmit()">
      <span class="material-icons" >save</span>ذخیره
    </button >
    
    <button  type="button" mat-flat-button color="warn">
      <span class="material-icons"  >restore</span>بازنشانی
    </button >
  </mat-toolbar>

  
  