<div class="parent-signup">
  <div class="box-signup col-12">
    <div class="row h-100">
      <div class="signup-area col-md-8">

        <form [formGroup]="userForm" class="w-100" (ngSubmit)="signUpUser()">
          <h1 class="mb-3"><strong>ثبت نام</strong></h1>
          <div class="mb-4">
            <p class="sub-title mb-1"><strong>خوش آمدید</strong></p>
            <p class="sub-title">شما برای استفاده از امکانات این سایت باید ثبت نام کنید</p>
          </div>
          <div class="form row">
             <!-- نام  -->
            <div class="mb-4 col-md-6">
              <div class="w-100">
                <label for="firstName" class="form-label">نام</label>
                <input class="form-control text-right" id="firstName" placeholder=""
                       [(ngModel)]="dto.firstName"
                       formControlName="firstName"
                       name="firstName"
                >
              </div>
              <app-alert-error [data]="userForm.controls['firstName']" [touched]="touched"></app-alert-error>
            </div>
            <!-- نام خانوادگی  -->
            <div class="mb-4 col-md-6">
              <div class="w-100">
                <label for="lastName" class="form-label">نام خانوادگی</label>
                <input class="form-control text-right" id="lastName" placeholder=""
                       [(ngModel)]="dto.lastName"
                       formControlName="lastName"
                       name="lastName">
              </div>
              <app-alert-error [data]="userForm.controls['lastName']" [touched]="touched"></app-alert-error>
            </div>
            <!-- سمت سازمانی            -->
            <div class="mb-4 col-md-4">
              <div class="w-100">
                <label for="organizationalLevel" class="form-label">سمت سازمانی</label>
                <input class="form-control text-right" id="organizationalLevel" placeholder=""
                       [(ngModel)]="dto.organizationalLevel"
                       formControlName="organizationalLevel"
                       name="organizationalLevel"
                       maxlength="11">
              </div>
              <app-alert-error [data]="userForm.controls['organizationalLevel']" [touched]="touched"></app-alert-error>
            </div>
            <!-- نام کاربری  -->
            <div class="mb-4 col-md-6">
              <div class="w-100">
                <label for="userName" class="form-label">نام کاربری</label>
                <input class="form-control text-right" id="userName" placeholder=""
                       [(ngModel)]="dto.userName"
                       formControlName="userName"
                       name="userName">
              </div>
              <app-alert-error [data]="userForm.controls['userName']" [touched]="touched"></app-alert-error>
            </div>

            <!-- همراه -->
            <div class="mb-4 col-md-6">
              <div class="w-100">
                <label for="mobile" class="form-label">شماره همراه</label>
                <input class="form-control text-right" id="mobile" (change)="checkMobileIsExist()" placeholder=""
                       [(ngModel)]="dto.mobile"
                       formControlName="mobile"
                       name="mobile"
                       maxlength="11"
                >
                
              </div>
              <app-alert-error [data]="userForm.controls['mobile']" [touched]="touched"></app-alert-error>
            </div>
       
        <!-- ایمیل  -->
        <div class="mb-4 col-md-6">
          <div class="w-100">
            <label for="email" class="form-label">ایمیل</label>
            <input class="form-control text-right" id="email" placeholder=""
                   [(ngModel)]="dto.email"
                   formControlName="email"
                   name="email">
          </div>
          <app-alert-error [data]="userForm.controls['email']" [touched]="touched"></app-alert-error>
        </div>
      
            <!-- رمزعبور   -->
            <div class="mb-4 col-md-4">
              <div class="w-100">
                <label for="password" class="form-label">رمزعبور</label>
                <input class="form-control text-right" id="password" placeholder=""
                       [(ngModel)]="dto.password"
                       formControlName="password"
                       name="password"
                       type="password"
                >
                <app-alert-error [data]="userForm.controls['password']" [touched]="touched"></app-alert-error>
              </div>
            </div>
            <!-- رمزعبور تکرار  -->
            <div class="col-md-4">
              <div class="w-100">
                <label for="passwordConfirm" class="form-label">تکرار رمزعبور</label>
                <input class="form-control text-right" id="passwordConfirm" placeholder=""
                       [(ngModel)]="dto.passwordConfirm"
                       formControlName="passwordConfirm"
                       name="passwordConfirm"
                       type="password"
                >
                <app-alert-error [data]="userForm.controls['passwordConfirm']" [touched]="touched"></app-alert-error>
                <div class="invalid-alert"
                     *ngIf="(userForm.controls['passwordConfirm'].touched || touched) && userForm.controls['passwordConfirm'].hasError('passwordMismatch')">رمز عبور یکسان نیست!</div>
              </div>
            </div>

          </div>
          <hr>
          <button type="submit" class="submitForm btn btn-primary text-center ml-3">ثبت نام</button>
          <button [routerLink]="'/'" class="btn btn-outline-primary text-center">ورود</button>
        </form>
      </div>
      <div class="signup-banner col-md d-md-block d-none">
      </div>
    </div>
  </div>
</div>
