<!--msb: main sidebar-->
<div class="sidebar" id="main-sidebar">
  <nav class="navbar navbar-default" role="navigation">

    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav parent">
        <li><a><i class="fa fa-dashboard"></i> داشبورد</a></li>
        <li class="panel panel-default" id="dropdown" [routerLinkActive]="'active'">
          <a data-toggle="collapse" href="#dropdown-configuration">
            <span class="caret"></span>
            پیکربندی
            <span class="fa fa-angle-left"></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-configuration" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
<!--                <li><a [routerLink]="'/index/user/configuration'">مناطق</a></li>-->
                <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/buildingList'">ساختمان</a></li>
<!--                <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/subscription'">اشتراک</a></li>-->

                <!-- Dropdown level 2 -->
                <li class="panel panel-default">
                  <a data-toggle="collapse" href="#dropdown-lvl2">
                   اشتراک
                    <span class="fa fa-angle-left"></span>
                  </a>
                  <div id="dropdown-lvl2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="nav navbar-nav">
                        <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/powerList'">برق</a></li>
                        <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/gasList'">گاز</a></li>
                        <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/waterList'">آب</a></li>
                        <li [routerLinkActive]="'active'"><a [routerLink]="'/index/user/configuration/energyList'">انرژی</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--main content wrapper-->
