<!--msb: main sidebar-->
<div class="sidebar" id="main-sidebar">
  <nav class="navbar navbar-default" role="navigation">

    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li><a><i class="fa fa-dashboard"></i> داشبورد</a></li>
        <li class="panel panel-default" id="dropdown">
          <a data-toggle="collapse" href="#dropdown-configuration">
            <span class="caret"></span>
            پیکربندی
            <span class="fa fa-angle-left"></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-configuration" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="'/index/user/configuration'">مناطق</a></li>
                <li><a [routerLink]="'/index/user/configuration/building'">ساختمان</a></li>
                <li><a href="#">اشتراک</a></li>

                <!-- Dropdown level 2 -->
<!--                <li class="panel panel-default" id="dropdown">-->
<!--                  <a data-toggle="collapse" href="#dropdown-lvl2">-->
<!--                    <i class="glyphicon glyphicon-off"></i> Sub Level <span class="caret"></span>-->
<!--                  </a>-->
<!--                  <div id="dropdown-lvl2" class="panel-collapse collapse">-->
<!--                    <div class="panel-body">-->
<!--                      <ul class="nav navbar-nav">-->
<!--                        <li><a href="#">Link</a></li>-->
<!--                        <li><a href="#">Link</a></li>-->
<!--                        <li><a href="#">Link</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </li>-->
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--main content wrapper-->
