
<div class="card">
  <div class="card-body">
    <div class="card-header flex-card-header">
      <strong> تحلیل مصارف تجهیزات  </strong>
      <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
        <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons">
          <form [formGroup]="form" class="w-100">
            <div class="form-group row">
            <!-- نوع گزارش -->
            <div class=" mb-4 col-md-2">
              <div class="w-100">
                <label for="reportType" class="form-label"> نوع گزارش </label>
                <select id="reportType"
                        class="form-control text-right"
                        [(ngModel)]="instrumConsumptionDto.reportType"
                        formControlName="reportType"
                        name="reportType">
                        <!-- (change)="updateChart()" -->
                  <option *ngFor="let item of reportTypeEnum | enumKeyValue" [value]="item.key">
                    {{item.value}}
                  </option>
                </select>
              </div>
            </div>  
            <!-- نوع حامل -->
            <div class=" mb-4 col-md-2">
              <div class="w-100">
                <label for="energyType" class="form-label">نوع حامل</label>
                <select id="energyType"
                        class="form-control text-right"
                        [(ngModel)]="instrumConsumptionDto.energyType"
                        formControlName="energyType"
                        name="energyType">
                        <!-- (change)="updateChart()" -->
                  <option *ngFor="let item of energyTypeEnum | enumKeyValue" [value]="item.key">
                    {{item.value}}
                  </option>
                </select>
              </div>
              </div>  
              <!-- تاریخ شروع   -->
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="fromDate" class="form-label">از تاریخ</label>
                  <input class="form-control text-right" id="fromDate" placeholder=""
                          formControlName="fromDate"
                          name="fromDate">
                </div>
                <app-alert-error [data]="form.controls['fromDate']" ></app-alert-error>
              </div>
              <!-- تاریخ اتمام   -->
              <div class="mb-4 col-md-2">
              <div class="w-100">
                <label for="toDate" class="form-label">تا تاریخ</label>
                <input class="form-control text-right" id="toDate" placeholder=""
                        formControlName="toDate"
                        name="toDate">
              </div>
              <app-alert-error [data]="form.controls['toDate']" ></app-alert-error>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
 <!-- اطلاعات ساختمان -->
 <div class="container">
  <div class="row">
    <div class="col">
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12">
          <div class="card border-primary">
            <!-- عنوان جدول -->
            <div class="card-header flex-card-header"><strong >  انتخاب ساختمان یا تاسیس </strong> </div> 
            <!--جدول ساختمان و تاسیس  -->
            <div class="card-body">
              <table class="table table-responsive-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col" width="20">#</th>
                    <th scope="col">نام ساختمان</th>
                    <!-- <th scope="col">نوع کاربری</th> -->
                    <!-- <th scope="col">مساحت مفید</th> -->
                    <th scope="col" width="20" class="text-center">عملیات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let building of buildingList; let i = index">
                    <th scope="row">{{(i + 1 + (pageIndex * pageSize))}}</th>
                    <td>{{building.name}}</td>
                    <!-- <td>{{useTypeBuildingEnum[building.useType].toString()}}</td> -->
                    <!-- <td>{{building.useFullArea}}</td> -->
                    <td width="40"><span class="cursor-pointer fa fa-edit"
                      (click)="getBuildingBaseLine(building.id)"></span></td>
                  </tbody>
                </table>
            </div>
          </div> 
        </div> 
      </div> 
      <!-- نمودار  -->
    </div>
  </div>
</div>
<div class="c-chart-wrapper" >
<!-- <div class="c-chart-wrapper" style="height:300px;margin-top:40px;"> -->
  <div class="col-12">
    <analysis-chart-panel category="LINE" [seriesInput]="series" ></analysis-chart-panel>
  </div>
</div>
</div>
</div>


    <!-- /////////// -->

<!-- 
<div>
    <div class="col-12">
        <div class="title-header d-flex justify-content-between align-items-center">
            <div>
              <h1>
                <strong>تحلیل مصارف تجهیزات  </strong>
              </h1>
              <p class="sub-title-header">
                با انتخاب منطقه مورد نظر تحلیل مصارف تجهیزات آن منطقه را می توان مشاهده کرد
              </p>
            </div>
            <div class="d-flex">
              <button class="btn btn-primary" [routerLink]="'/index/user/analysis/demandSum'">تحلیل  </button>
            </div>
          </div>
    </div>
    <div class="col-12">
    <h1>{{region}}</h1>
    <analysis-chart-panel category="BAR"></analysis-chart-panel>
</div>
 -->
