<mat-horizontal-stepper dir="rtl" style="text-align: right" #stepper>

  <mat-step [stepControl]="reqForgetPasswordForm">
    <form [formGroup]="reqForgetPasswordForm">
      <ng-template matStepLabel>لطفا اطلاعات را وارد کنید.</ng-template>
      <p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="MOBILE">موبایل</mat-radio-button>
          <mat-radio-button value="EMAIL">ایمیل</mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <mat-form-field>
          <mat-label >نام کاربری</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>
      </p>
      <div>
        <button mat-button (click)="checkReqForgetPassword(stepper)">ارسال کد تایید</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="reqResetPasswordForm">
    <form [formGroup]="reqResetPasswordForm">
      <ng-template matStepLabel>لطفا رمز جدید و کد دریافتی را وارد کنید.</ng-template>
      <p>
        <mat-form-field>
          <mat-label>کد تایید</mat-label>
          <input matInput required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>رمز جدید</mat-label>
          <input matInput required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>تکرار رمز جدید</mat-label>
          <input matInput required>
        </mat-form-field>
      </p>

      <div>
        <button mat-button matStepperPrevious>اصلاح نام کاربری</button>
        <button mat-button matStepperNext>تایید</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
