<div class="box-t">
    <div dir="rtl">
        <div class="row bak-row1">
            <div class="col2">
                <span>ثبت انشعاب جدید گاز برای</span>
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col1">
                <button mat-flat-button color="warn" class=" push-right" [disabled]="loading" (click)="onSubmit()">
                    <span class="material-icons">save</span>
                    ذخیره
                </button >
            </div>
        </div>
    </div>
</div>
<br>

<div class="border-m">
    <div class="box-t">
        <div class="row">
            <div class="col2">
               <div class="box1">
                   <div class="box1-1 col1">
                    <div class="col1">
                        <img src="assets/bill-gas.png" class="img-logo">
                        
                    </div>
                    <div class="col4">
                        <table>
                            <tr>
                                <td>
                                    <span> تاریخ قرائت پیشین </span>
                                </td>
                                <td>
                                     <input class="i-box-4"> 
                                </td>
                                <td>

                                </td>
                                <td>
                                    <span> تاریخ قرائت فعلی </span>
                                </td>
                                <td>
                                     <input class="i-box-4"> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>  رقم پیشین شمارشگر  </span>
                                </td>
                                <td>
                                     <input class="i-box-4"> 
                                </td>
                                <td>

                                </td>
                                <td>
                                    <span>رقم فعلی شمارشگر </span>
                                </td>
                                <td>
                                     <input class="i-box-4"> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>  مصرف به متر معکب  </span>
                                </td>
                                <td>
                                     <input class="i-box-4"> 
                                </td>
                                <td>

                                </td>
                                <td>
                                    <span> </span>
                                </td>
                                <td>
                                     
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td> <span> شناسه قبض </span></td>
                            <td> <input class="i-box-4"> </td>
                            <td class="mw1"></td>
                            <td> <span> شناسه پرداخت </span></td>
                            <td> <input class="i-box-4"> </td>
                        </tr>
                        <tr>
                            <td> <span> تعداد بدهی </span></td>
                            <td> <input class="i-box-4"> </td>
                            <td class="mw1"></td>
                            <td> <span>تعداد روزهای مصرف </span></td>
                            <td> <input class="i-box-4"> </td>
                        </tr>
                    </table>
                     
                </div>
                
               </div>

                <div class="box2">

                    <table>
                        <tr>
                                <td>نام مشترک</td>
                                <td>  <input class="i-box-4">  </td>
                                <td class="mw1"></td>
                                <td><span> شماره ملی </span></td>
                                <td>  <input class="i-box-4">  </td>
                                <td></td>
                        </tr>
                        <tr>
                            <td>نشانی</td>
                            <td>  <input class="i-box-4">  </td>
                            <td class="mw1"></td>
                            <td><span> منطقه گاز </span></td>
                            <td>  <input class="i-box-4">  </td>
                            <td></td>
                    </tr>
                        <tr>
                            <td>شماره اشتراک</td>
                            <td>  <input class="i-box-4">  </td>
                            <td class="mw1"></td>
                            <td><span> کد پستی </span></td>
                            <td>  <input class="i-box-4">  </td>
                            <td></td>
                    </tr>
                    <tr>
                        <td>سریال کنتور</td>
                        <td>  <input class="i-box-4">  </td>
                        <td class="mw1"></td>
                        <td><span> کد آدرس </span></td>
                        <td>  <input class="i-box-4">  </td>
                        <td></td>
                        </tr>
                        <tr>
                            <td>شماره سری</td>
                            <td>  <input class="i-box-4">  </td>
                            <td class="mw1"></td>
                            <td><span> نوع مصرف </span></td>
                            <td>  <input class="i-box-4">  </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>گروه</td>
                            <td>  <input class="i-box-4">  </td>
                            <td class="mw1"></td>
                            <td><span> ظرفیت </span></td>
                            <td>  <input class="i-box-4">  </td>
                            <td></td>
                    </tr>
                    </table>
                  
                </div>

            </div>
            <div class="col1">
              <div class="box1">
                <table>
                    <tr>
                        <td>
                            <span> بهای گاز مصرفی </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> عوارض گاز رسانی </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>                    <tr>
                        <td>
                            <span> بدهی گذشته </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> بدهی متفرقه </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> مالیات </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> بیمه </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> مانده بدهی </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> مانده هزارریال  </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> کسر هزار ریال </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> مبلغ قابل پرداخت </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span> مهلت پرداخت </span>
                        </td>
                        <td>
                            <input class="i-box-4"> 
                        </td>
                    </tr>
                    
                </table>
                </div>
            </div>
        </div>
    </div>
</div>