<div class="box-t">
    <div dir="rtl">
        <div class="row bak-row1">
            <div class="col2">
                <span>ثبت انشعاب جدید گاز برای</span>
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col1">
                <button mat-flat-button color="warn" class=" push-right" [disabled]="loading" (click)="onSubmit()">
                    <span class="material-icons">save</span>
                    ذخیره
                </button >
            </div>
        </div>
    </div>
</div>
<br>

<div class="border-m">
    <div class="box-t">
        <div class="row">
            <div class="col2">
               <div class="box1">
                   <div class="box1-1 col1">
                    <div class="col1">
                        <img src="assets/bill-gas.png" class="img-logo">
                        
                    </div>
                    <div class="col4">
                        <div>
                            <span> تاریخ قرائت پیشین </span>
                            <input class="i-box-4">  
                            <span> تاریخ قرائت فعلی </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> رقم پیشین شمارشگر </span>
                            <input class="i-box-4">  
                            <span> رقم فعلی شمارشگر </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> مصرف به متر معکب </span>
                            <input class="i-box-4">  
                                            
                        </div>
                    </div>
                </div>
                <div class="box1-2 col1">
                        <div class="col1">
                            <span> شناسه قبض </span>
                            <input class="i-box-4">    
                        </div>
                        <div class="col1">
                            <span> شناسه پرداخت </span>
                            <input class="i-box-4">    
                        </div>
                </div>
                <div class="box1-2 col1">
                    <div class="col1">
                        <span> تعداد بدهی </span>
                        <input class="i-box-4">    
                    </div>
                    <div class="col1">
                        <span> تعداد روزهای مصرف </span>
                        <input class="i-box-4">    
                    </div>
                </div>
               </div>

                <div class="box2">
                    <div class="col1">
                        <div>
                            <span> نام مشترک </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> نشانی </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> شماره اشتراک </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>سریال کنتور </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>شماره سری </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>شماره سری </span>
                            <input class="i-box-4">                       
                        </div>

                    </div>
                    <div class="col1">
                        <div>
                            <span> شماره ملی </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> منطقه گاز </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span> کد پستی </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>کد آدرس </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>نوع مصرف </span>
                            <input class="i-box-4">                       
                        </div>
                        <div>
                            <span>ظرفیت </span>
                            <input class="i-box-4">                       
                        </div>
                    </div>
                </div>

            </div>
            <div class="col1">
              <div class="box1">
                <div>
                    <span>ریال</span>
                                      
                </div>
                <div>
                    <span> بهای گاز مصرفی </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span> عوارض گاز رسانی </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>بدهی گذشته </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>بدهی متفرقه</span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>مالیات </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>بیمه </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>مانده بدهی </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>مانده هزارریال </span>
                    <input class="i-box-4">                       
                </div>
                <div>
                    <span>کسر هزار ریال </span>
                    <input class="i-box-4">                       
                </div>
                <div class="box-mgp">
                    <span>مبلغ قابل پرداخت </span>
                    <input class="i-box-4">                       
                </div>
                <div class="box-moh">
                    <span>مهلت پرداخت </span>
                    <input class="i-box-4">                       
                </div>


                </div>
            </div>
        </div>
    </div>
</div>