<form [formGroup]="form" class="w-100" (ngSubmit)="updateBuilding()">
  <div class="form row">
    <!-- نام ساختمان  -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="name" class="form-label">نام ساختمان</label>
        <input class="form-control text-right" id="name" placeholder=""
               [(ngModel)]="buildingDto.name"
               formControlName="name"
               name="name">
      </div>
      <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
    </div>
    <!-- نوع کاربری -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="useType" class="form-label">نوع کاربری </label>
        <select name="useType" id="useType"
                class="form-control text-right"
                formControlName="useType"
                [(ngModel)]="buildingDto.useType">
                <option *ngFor="let item of useTypeEnum | enumKeyValue" [value]="item.key">
                  {{item.value}}
                </option>
              </select>
            </div>
      <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
    </div>
    <!-- سال ساخت  -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="constructionYear" class="form-label">سال ساخت</label>
        <input class="form-control text-right" id="constructionYear" placeholder=""
               type="number" min="0"
               maxlength="12"
               [(ngModel)]="buildingDto.constructionYear"
               formControlName="constructionYear"
               name="constructionYear">
      </div>
      <app-alert-error [data]="form.controls['constructionYear']" [touched]="touched"></app-alert-error>
    </div>
    <!-- تعداد طبقات  -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="floorNum" class="form-label">تعداد طبقات</label>
        <input class="form-control text-right" id="floorNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.floorNum "
               formControlName="floorNum"
               name="floorNum"
               maxlength="3">
      </div>
      <app-alert-error [data]="form.controls['floorNum']" [touched]="touched"></app-alert-error>
    </div>
    <!-- تعداد نفرات بهره بردار  -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="exploitationPersonnelNum" class="form-label">تعداد نفرات بهره بردار</label>
        <input class="form-control text-right" id="exploitationPersonnelNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.exploitationPersonnelNum"
               formControlName="exploitationPersonnelNum"
               name="exploitationPersonnelNum">
      </div>
      <app-alert-error [data]="form.controls['exploitationPersonnelNum']" [touched]="touched"></app-alert-error>
    </div>
    <!-- مالکیت -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="ownership" class="form-label">مالکیت</label>
        <select name="ownership" id="ownership"
                class="form-control text-right"
                formControlName="ownership"
                [(ngModel)]="buildingDto.ownership">
          <option *ngFor="let item of ownershipEnum | enumKeyValue" [value]="item.key">
            {{item.value}}
          </option>
        </select>
      </div>
      <app-alert-error [data]="form.controls['ownership']" [touched]="touched"></app-alert-error>
    </div>
    <!-- نوع سیستم گرمایشی -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="heatingSystemType" class="form-label">نوع سیستم گرمایشی</label>
        <select name="heatingSystemType" id="heatingSystemType"
                class="form-control text-right"
                formControlName="heatingSystemType"
                [(ngModel)]="buildingDto.heatingSystemType">
          <option *ngFor="let item of heatingSystemTypeEnum | enumKeyValue" [value]="item.key">
            {{item.value}}
          </option>
        </select>
      </div>
      <app-alert-error [data]="form.controls['heatingSystemType']" [touched]="touched"></app-alert-error>
    </div> 
    
    <!-- نوع سیستم سرمایشی -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="coolingSystemType" class="form-label">نوع سیستم سرمایشی</label>
        <select name="coolingSystemType" id="coolingSystemType"
                class="form-control text-right"
                formControlName="coolingSystemType"
                [(ngModel)]="buildingDto.coolingSystemType">
          <option *ngFor="let item of coolingSystemTypeEnum | enumKeyValue" [value]="item.key">
            {{item.value}}
          </option>
        </select>
      </div>
      <app-alert-error [data]="form.controls['coolingSystemType']" [touched]="touched"></app-alert-error>
    </div>
    <!-- تعداد انشعاب برق -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="powerSharingNum" class="form-label">تعداد انشعاب برق</label>
        <input class="form-control text-right" id="powerSharingNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.powerSharingNum"
               formControlName="powerSharingNum"
               name="powerSharingNum">
      </div>
      <app-alert-error [data]="form.controls['powerSharingNum']" [touched]="touched"></app-alert-error>
    </div>
    <!-- تعداد انشعاب گاز -->
        <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="gasSharingNum" class="form-label">تعداد انشعاب گاز</label>
        <input class="form-control text-right" id="gasSharingNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.gasSharingNum"
               formControlName="gasSharingNum"
               name="gasSharingNum">
      </div>
      <app-alert-error [data]="form.controls['gasSharingNum']" [touched]="touched"></app-alert-error>
    </div>
    <!-- تعداد انشعاب آب  -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="waterSharingNum" class="form-label">تعداد انشعاب آب </label>
        <input class="form-control text-right" id="waterSharingNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.waterSharingNum"
               formControlName="waterSharingNum"
               name="waterSharingNum">
      </div>
      <app-alert-error [data]="form.controls['waterSharingNum']" [touched]="touched"></app-alert-error>
    </div>    
    <!-- تعداد حامل های انرژی غیر -->
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="nonEnergyCarrierSharingNum" class="form-label">تعداد حامل های انرژی غیر </label>
        <input class="form-control text-right" id="nonEnergyCarrierSharingNum" placeholder=""
               type="number" min="0"
               [(ngModel)]="buildingDto.nonEnergyCarrierSharingNum"
               formControlName="nonEnergyCarrierSharingNum"
               name="nonEnergyCarrierSharingNum">
      </div>
      <app-alert-error [data]="form.controls['nonEnergyCarrierSharingNum']" [touched]="touched"></app-alert-error>
    </div>    
      <!-- کد پستی -->
      <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="postalCode" class="form-label">کد پستی</label>
        <input class="form-control text-right" id="postalCode" placeholder=""
                maxlength="10"
                minlength="10"
                [(ngModel)]="buildingDto.postalCode"
                formControlName="postalCode"
                name="postalCode">
      </div>
      <app-alert-error [data]="form.controls['postalCode']" [touched]="touched"></app-alert-error>
    </div>
    <!-- آدرس -->
    <div class="mb-4 col-12">
      <div class="w-100">
        <label for="address" class="form-label">آدرس</label>
        <textarea class="form-control text-right" id="address" placeholder=""
                  [(ngModel)]="buildingDto.address"
                  formControlName="address"
                  name="address"
        ></textarea>
      </div>
      <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
    </div>

      <!-- <p class="sub-title-header">تمامی ابعاد بر حسب متر مربع میباشد</p> -->
     <!-- مساحت عرصه -->
   <!-- <div class="form row">
        <div class="mb-4 col-md-2">
          <div class="w-100">
            <label for="arenaArea" class="form-label">مساحت عرصه</label>
            <input class="form-control text-right" id="arenaArea" placeholder=""
            type="number" min="0"
            [(ngModel)]="buildingDto.arenaArea"
            formControlName="arenaArea"
            name="arenaArea">
          </div>
          <app-alert-error [data]="form.controls['arenaArea']" [touched]="touched"></app-alert-error>
        </div>
      </div> -->
        

    <div class="col-12">
      <button type="submit" class="btn btn-success text-center ml-3"*ngIf="!bId">ثبت</button>
      <button type="submit" class="btn btn-success text-center ml-3"*ngIf="bId">ویرایش</button>  
    </div>
  </div>
</form>
