<form [formGroup]="form" class="w-100" (ngSubmit)="createArea()">
  <p class="sub-title-header">تمامی ابعاد بر حسب متر مربع میباشد</p>
  <div class="form row">
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="arenaArea" class="form-label">مساحت عرصه</label>
        <input class="form-control text-right" id="arenaArea" placeholder=""
               type="number" min="0"
               [(ngModel)]="areaDto.arenaArea"
               formControlName="arenaArea"
               name="arenaArea"
        >
      </div>
      <app-alert-error [data]="form.controls['arenaArea']" [touched]="touched"></app-alert-error>
    </div>
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="ayanArea" class="form-label">مساحت اعیان</label>
        <input class="form-control text-right" id="ayanArea" placeholder=""
               type="number" min="0"
               maxlength="12"
               [(ngModel)]="areaDto.ayanArea"
               formControlName="ayanArea"
               name="ayanArea"
        >
      </div>
      <app-alert-error [data]="form.controls['ayanArea']" [touched]="touched"></app-alert-error>
    </div>
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="useFullArea" class="form-label">مساحت مفید</label>
        <input class="form-control text-right" id="useFullArea" placeholder=""
               type="number" min="0"
               maxlength="12"
               [(ngModel)]="areaDto.useFullArea"
               formControlName="useFullArea"
               name="useFullArea"
        >
      </div>
      <app-alert-error [data]="form.controls['useFullArea']" [touched]="touched"></app-alert-error>
    </div>
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="externalWallsTotalArea" class="form-label">مساحت کل جداره های خارجی</label>
        <input class="form-control text-right" id="externalWallsTotalArea" placeholder=""
               type="number" min="0"
               [(ngModel)]="areaDto.externalWallsTotalArea "
               formControlName="externalWallsTotalArea"
               name="externalWallsTotalArea"
               maxlength="3"
        >
      </div>
      <app-alert-error [data]="form.controls['externalWallsTotalArea']" [touched]="touched"></app-alert-error>
    </div>
    <div class="mb-4 col-md-2">
      <div class="w-100">
        <label for="externalGlassTotalArea" class="form-label">مساحت کل شیشه خارجی</label>
        <input class="form-control text-right" id="externalGlassTotalArea" placeholder=""
               type="number" min="0"
               [(ngModel)]="areaDto.externalGlassTotalArea"
               formControlName="externalGlassTotalArea"
               name="externalGlassTotalArea"
        >
      </div>
      <app-alert-error [data]="form.controls['externalGlassTotalArea']" [touched]="touched"></app-alert-error>
    </div>

    <div class="col-12">
      <!-- <div (click)="goBack()" class="btn btn-outline-primary text-center ml-3">بازگشت</div> -->
      
      <button type="submit" class="btn btn-success text-center ml-3">ثبت</button>
    </div>
  </div>
</form>
