<div class="col-12">
    <div class="title-header d-flex justify-content-between align-items-center">
      <div>
        <h1>
          <strong *ngIf="!climateId"> افزودن شهر و اقلیم  </strong>
          <strong *ngIf="climateId">ویرایش شهر و اقلیم </strong>
        </h1>
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/climateList'">بازگشت به لیست</button>
      </div>
    </div>

    <hr>
    <ul class="nav nav-pills mb-3 pr-0" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-city-tab" data-toggle="pill" href="#pills-city" role="tab" aria-controls="pills-city" aria-selected="true">اطلاعات شهر</a>
      </li>
      <li class="nav-item" [ngClass]="{'disabled': climateId === ''}">
        <a class="nav-link" id="pills-climate-tab" data-toggle="pill" href="#pills-climate" role="tab" aria-controls="pills-climate" aria-selected="false">اطلاعات آب و هوا</a>
      </li>
    </ul>
    <hr> 

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-city" role="tabpanel" aria-labelledby="pills-city-tab">
            <form [formGroup]="form" class="w-100" (ngSubmit)="createPower()">
                <div class="form row">
                    <div class="mb-4 col-md-3">
                        <div class="w-100">
                          <label for="useType" class="form-label">نوع اقلیم</label>
                          <select id="useType"
                                  class="form-control text-right"
                                  (change)="setEnumUseType(true)"
                                  formControlName="useType"
                                  name="ostan">
                            <option *ngFor="let item of useTypeEnum | enumKeyValue" [value]="item.key">
                              {{item.value}}
                            </option>
                          </select>
                        </div>
                        <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
                    </div>                
               
                    <div class="mb-4 col-md-3">
                        <div class="w-100">
                          <label for="ostan" class="form-label">استان</label>
                          <select id="ostan"
                                  class="form-control text-right"
                                  (change)="setEnumUseType(true)"
                                  formControlName="ostan"
                                  name="ostan">
                            <option *ngFor="let item of ostanEnum | enumKeyValue" [value]="item.key">
                              {{item.value}}
                            </option>
                          </select>
                        </div>
                        <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
                    </div>  

                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="shahr" class="form-label"> شهر</label>
                        <input class="form-control text-right" id="shahr" shahr=""
                             formControlName="shahr"
                             name="shahr"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['shahr']" [touched]="touched"></app-alert-error>
                    </div>
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="rusta" class="form-label"> روستا</label>
                        <input class="form-control text-right" id="rusta" rusta=""
                             [(ngModel)]="climateDto.rusta"
                             formControlName="rusta"
                             name="rusta"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['rusta']" [touched]="touched"></app-alert-error>
                    </div> 
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="longitude" class="form-label"> طول جغرافیایی</label>
                        <input class="form-control text-right" id="longitude" longitude=""
                            type="number" step="0.01"
                             [(ngModel)]="climateDto.longitude"
                             formControlName="longitude"
                             name="longitude"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['longitude']" [touched]="touched"></app-alert-error>
                    </div> 
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="latitude" class="form-label"> عرض جغرافیایی</label>
                        <input class="form-control text-right" id="latitude" latitude=""
                        type="number" step="0.01"
                             [(ngModel)]="climateDto.latitude"
                             formControlName="latitude"
                             name="latitude"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['latitude']" [touched]="touched"></app-alert-error>
                    </div> 
                  
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="ertefa" class="form-label"> ارتفاع از سطح دریا </label>
                        <input class="form-control text-right" id="ertefa" ertefa=""
                             [(ngModel)]="climateDto.ertefa"
                             formControlName="ertefa"
                             name="ertefa"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['ertefa']" [touched]="touched"></app-alert-error>
                    </div> 
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="ghaleb" class="form-label"> نیاز غالب حرارتی </label>
                        <input class="form-control text-right" id="ghaleb" ghaleb=""
                             [(ngModel)]="climateDto.ghaleb"
                             formControlName="ghaleb"
                             name="ghaleb"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['ghaleb']" [touched]="touched"></app-alert-error>
                    </div> 
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="energyDegree" class="form-label"> درجه انرژی </label>
                        <input class="form-control text-right" id="energyDegree" energyDegree=""
                             [(ngModel)]="climateDto.energyDegree"
                             formControlName="energyDegree"
                             name="energyDegree"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['energyDegree']" [touched]="touched"></app-alert-error>
                    </div> 

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="!climateId">ثبت</button>
                        <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="climateId">ویرایش</button>
                    </div>    
             </div>
          </form>
        </div>

        <div class="tab-pane fade" id="pills-climate" role="tabpanel" aria-labelledby="pills-climate-tab">
            <P>climate</P>


            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th scope="col" width="40">#</th>
                  <th scope="col"> ماه </th>
                  <th scope="col"> میانگین حداکثر دما</th>
                  <th scope="col"> میانگین حداقل دما</th>
                  <th scope="col" width="50"> میانگین دما</th>
                  <th scope="col"> میانگین حداکثر رطوبت</th>
                  <th scope="col"> میانگین حداقل رطوبت</th>
                  <th scope="col" width="50">  میانگین رطوبت</th>
                  <th scope="col"> میانگین سرعت باد </th>
                  <th scope="col">میانگین تابش خورشید</th>
                  <th scope="col" width="280" colspan="2" class="text-center">عملیات</th>
        
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let weather of weatherList; let i = index" class="vertical-align-middle">
                  <th scope="row">{{(i + 1 + (pageIndex * weatherList.length))}}</th>
                  <td>{{weather.month}}</td>
                  <td>{{weather.highDegMean}}</td>
                  <td>{{weather.lowDegMean}}</td>
                  <td>{{weather.DegMean}}</td>
                  <td>{{weather.highHumidMean}}</td>
                  <td>{{weather.lowHumidMean}}</td>
                  <td>{{weather.HumidMean}}</td>
                  <td>{{weather.windMean}}</td>
                  <td>{{weather.sunRadMean}}</td>

                  <td width="40"><span class="cursor-pointer fa fa-edit"
                            [queryParams]="{id: weather.id}"
                            [routerLink]="'/index/user/configuration/editclimate'"></span></td>
                  <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteclimate(i, weather.id)"></span></td>
                </tr>
                </tbody>
              </table>
            </div>


        </div>
    </div> 
</div>