<div class="col-12">
    <div class="title-header d-flex justify-content-between align-items-center">
      <div>
        <h1>
          <strong *ngIf="!climateId"> افزودن شهر و اقلیم  </strong>
          <strong *ngIf="climateId">ویرایش شهر و اقلیم </strong>
        </h1>
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/climateList'">بازگشت به لیست</button>
      </div>
    </div>

    <hr>
    <ul class="nav nav-pills mb-3 pr-0" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-city-tab" data-toggle="pill" href="#pills-city" role="tab" aria-controls="pills-city" aria-selected="true">اطلاعات شهر</a>
      </li>
      <li class="nav-item" [ngClass]="{'disabled': climateId === ''}">
        <a class="nav-link" id="pills-climate-tab" data-toggle="pill" href="#pills-climate" role="tab" aria-controls="pills-climate" aria-selected="false">اطلاعات آب و هوا</a>
      </li>
    </ul>
    <hr> 

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-city" role="tabpanel" aria-labelledby="pills-city-tab">
            <p>city</p>
            <form [formGroup]="form" class="w-100" (ngSubmit)="createPower()">
                <div class="form row">

                    <div class="mb-4 col-md-3">
                        <div class="w-100">
                          <label for="useType" class="form-label">نوع اقلیم</label>
                          <select id="useType"
                                  class="form-control text-right"
                                  (change)="setEnumUseType(true)"
                                  formControlName="useType"
                                  name="ostan">
                            <option *ngFor="let item of useTypeEnum | enumKeyValue" [value]="item.key">
                              {{item.value}}
                            </option>
                          </select>
                        </div>
                        <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
                    </div>                
               
                    <div class="mb-4 col-md-3">
                        <div class="w-100">
                          <label for="ostan" class="form-label">استان</label>
                          <select id="ostan"
                                  class="form-control text-right"
                                  (change)="setEnumUseType(true)"
                                  formControlName="ostan"
                                  name="ostan">
                            <option *ngFor="let item of ostanEnum | enumKeyValue" [value]="item.key">
                              {{item.value}}
                            </option>
                          </select>
                        </div>
                        <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
                    </div>  

                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="shahr" class="form-label"> شهر</label>
                        <input class="form-control text-right" id="shahr" shahr=""
                             formControlName="shahr"
                             name="shahr"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['shahr']" [touched]="touched"></app-alert-error>
                    </div>
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="rusta" class="form-label"> روستا</label>
                        <input class="form-control text-right" id="rusta" rusta=""
                             [(ngModel)]="climateDto.rusta"
                             formControlName="rusta"
                             name="rusta"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['rusta']" [touched]="touched"></app-alert-error>
                    </div> 
                    <div class="mb-4 col-md-3">
                      <div class="w-100">
                        <label for="longitude" class="form-label"> طول جغرافیایی</label>
                        <input class="form-control text-right" id="longitude" longitude=""
                            type="number" step="0.01"
                             [(ngModel)]="climateDto.longitude"
                             formControlName="longitude"
                             name="longitude"
                             >
                      </div>
                          <app-alert-error [data]="form.controls['longitude']" [touched]="touched"></app-alert-error>
                    </div> 
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="!climateId">ثبت</button>
                        <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="climateId">ویرایش</button>
                    </div>    
             </div>
          </form>
        </div>
        <div class="tab-pane fade" id="pills-climate" role="tabpanel" aria-labelledby="pills-climate-tab">
            <P>climate</P>
        </div>
    </div> 
</div>