
<div class="container">
  <div class="row">
    <form [formGroup]="form" class="form" enctype="multipart/form-data" (ngSubmit)="updateFacility()">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header flex-card-header">
          <strong *ngIf="!facilityId"> تعریف<small> تاسیس </small>  </strong>
          <strong *ngIf="facilityId"> ویرایش<small> تاسیس </small>  </strong>
          <div class="d-flex">
            <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/facilityList'"> لیست </button> 
          </div>
        </div>     
        <p class="alert alert-success">
          <span [innerHTML]="region"></span>
        </p>
        <div class="card-body">
          <!-- افزودن تاسیسات -->
          <div class="form-group row">
            <!-- نام تاسیس -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="name" class="form-label">نام تاسیس</label>
                <input class="form-control text-right" id="name" placeholder=""
                      [(ngModel)]="facilityDto.name"
                      formControlName="name"
                      name="name">
              </div>
              <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
            </div>
            <!-- نوع کاربری -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="useType" class="form-label">نوع کاربری</label>
                <select name="useType" id="useType"
                        class="form-control text-right"
                        formControlName="useType"
                        [(ngModel)]="facilityDto.useType">
                  <option *ngFor="let item of useTypeEnum | enumKeyValue" [value]="item.key">
                    {{item.value}}
                  </option>
                </select>
              </div>
              <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
            </div>
            <!-- بانک خازنی -->
            <div class="mb-4 col-md-3">
              <div class="w-100">
                <label for="capacitorBank" class="form-label">ظرفیت بانک خازنی(kvar)</label>
                <input class="form-control text-right" id="capacitorBank" 
                      type="number" min="0"
                      [(ngModel)]="facilityDto.capacitorBank "
                      formControlName="capacitorBank"
                      name="capacitorBank"
                      maxlength="3">
              </div>
              <app-alert-error [data]="form.controls['capacitorBank']" [touched]="touched"></app-alert-error>
            </div>
            <!-- توضیحات -->
            <div class="mb-4 col-12">
              <div class="w-100">
                <label for="explanation" class="form-label">توضیحات</label>
                <textarea class="form-control text-right" id="explanation" placeholder=""
                          [(ngModel)]="facilityDto.explanation"
                          formControlName="explanation"
                          name="explanation"
                ></textarea>
              </div>
              <app-alert-error [data]="form.controls['explanation']" [touched]="touched"></app-alert-error>
            </div>
            <!-- آدرس -->
            <div class="mb-4 col-12">
              <div class="w-100">
                <label for="address" class="form-label">آدرس</label>
                <textarea class="form-control text-right" id="address" placeholder=""
                          [(ngModel)]="facilityDto.address"
                          formControlName="address"
                          name="address"
                ></textarea>
              </div>
              <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
            </div>       
          </div>      
        </div>
        <!-- ثبت اطلاعات  -->
        <div class="card-footer">
          <button type="submit" class="btn btn-success text-center ml-3" *ngIf="!facilityId">ثبت</button>
          <button type="submit" class="btn btn-success text-center ml-3" *ngIf="facilityId">ویرایش</button>
          <!-- <button class="btn btn-sm btn-danger" type="reset"> پاکسازی فرم</button> -->
        </div>
      </div>
    </div> 
    </form>
  </div>
</div>
