<div class="col-12">
  <div class="card">
    <div class="card-header flex-card-header">
      <h1>
        <span *ngIf="!energyId">افزودن کنتور انرژی </span>
        <span *ngIf="energyId">ویرایش کنتور انرژی </span>
      </h1>
      <div class="d-flex">
        <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/energyList'"> لیست کنتورها</button>
        </div>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills mb-3 pr-0" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">اطلاعات پایه</a>
        </li>
        <li class="nav-item" [ngClass]="{'disabled': energyId === ''}">
          <a class="nav-link" id="pills-building-tab" data-toggle="pill" href="#pills-building" role="tab" aria-controls="pills-building" aria-selected="false">اطلاعات ساختمان</a>
        </li>
      </ul>
      <hr>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <form [formGroup]="form" class="w-100" (ngSubmit)="createEnergy()">
            <div class="form row">
              <!-- نام مشترک -->
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="name" class="form-label">نام مشترک</label>
                  <input class="form-control text-right" id="name" placeholder=""
                         [(ngModel)]="energyDto.name"
                         formControlName="name"
                         name="name">
                </div>
                <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
              </div>
              <!-- آدرس -->          
              <div class="mb-4 col-md-10">
                 <div class="w-100">
                  <label for="address" class="form-label">نشانی محل مصرف</label>
                  <textarea class="form-control text-right" id="address" placeholder=""
                  [(ngModel)]="energyDto.address"
                  formControlName="address"
                  name="address"></textarea>
                </div>
                <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
              </div>

              <!-- حامل انرژی -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="energyCarrier" class="form-label">حامل انرژی</label>
                  <select id="energyCarrier"
                          class="form-control text-right"
                          [(ngModel)]="energyDto.energyCarrier"
                          formControlName="energyCarrier"
                          name="energyCarrier">
                    <option *ngFor="let item of energyCarierEnum | enumKeyValue" [value]="item.key">
                      {{item.value}}
                    </option>
                  </select>
                </div>
                <app-alert-error [data]="form.controls['voltageType']" [touched]="touched"></app-alert-error>
              </div>
              
              <!-- واحد انرژی -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="energyUnit" class="form-label">واحد انرژی</label>
                  <select id="energyUnit"
                          class="form-control text-right"
                          [(ngModel)]="energyDto.energyUnit"
                          formControlName="energyUnit"
                          name="energyUnit">
                    <option *ngFor="let item of carierUnitEnum | enumKeyValue" [value]="item.key">
                      {{item.value}}
                    </option>
                  </select>
                </div>
                <app-alert-error [data]="form.controls['voltageType']" [touched]="touched"></app-alert-error>
              </div>

              <!-- شماره کنتور -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="shareNumber" class="form-label">شماره کنتور</label>
                  <input class="form-control text-right" id="shareNumber" placeholder=""
                         [(ngModel)]="energyDto.shareNumber"
                         formControlName="shareNumber"
                         name="shareNumber">
                </div>
                <app-alert-error [data]="form.controls['shareNumber']" [touched]="touched"></app-alert-error>
              </div>
              <!-- ظرفیت -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="capacity" class="form-label">ظرفیت </label>
                  <input class="form-control text-right" id="capacity" placeholder=""
                         [(ngModel)]="energyDto.capacity"
                         formControlName="capacity"
                         name="capacity" >
                </div>
                <app-alert-error [data]="form.controls['capacity']" [touched]="touched"></app-alert-error>
              </div>
              <!-- ضریب تبدیل به کیلووات -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="kiloWatConvert" class="form-label">ضریب تبدیل به کیلووات </label>
                  <input class="form-control text-right" id="kiloWatConvert" placeholder=""
                         [(ngModel)]="energyDto.kiloWatConvert"
                         formControlName="kiloWatConvert"
                         name="kiloWatConvert">
                </div>
                <app-alert-error [data]="form.controls['kiloWatConvert']" [touched]="touched"></app-alert-error>
              </div>
              
              <div class="col-12">
                <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="!energyId">ثبت</button>
                <button type="submit" class="btn btn-primary text-center ml-3" *ngIf="energyId">ویرایش</button>
              </div>

            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="pills-building" role="tabpanel" aria-labelledby="pills-building-tab">
          <fieldset class="fieldset-border">
            <legend>افزودن ساختمان</legend>
            <div class="row">
              <div class="col-auto d-flex flex-column">
                <label for="allocationPercentage" class="form-label">انتخاب ساختمان</label>
                <div class="d-flex align-items-center">
                  <button class="btn btn-outline-primary text-center" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getListBuilding()">انتخاب</button>
                  <span class="mr-2" style="font-size: 13px;" *ngIf="buildingAllocation.name">
                ({{buildingAllocation.name}})
              </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="w-100">
                  <label for="allocationPercentage" class="form-label">درصد تخصیص</label>
                  <input class="form-control text-right" id="allocationPercentage" placeholder=""
                         [(ngModel)]="buildingAllocation.allocationPercentage"
                         name="allocationPercentage">
                </div>
              </div>
            </div>
            <hr>
            <button class="btn btn-primary" *ngIf="!editedAllocation" (click)="addBuildingAllocation()">ثبت ساختمان</button>
            <button class="btn btn-primary" *ngIf="editedAllocation" (click)="addBuildingAllocation()">ویرایش ساختمان</button>
          </fieldset>

          <div class="table-responsive" *ngIf="energyDto.buildingList?.length > 0">
            <table class="table table-striped table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col" width="40">#</th>
                <th scope="col">عنوان ساختمان</th>
                <th scope="col">نوع</th>
                <th scope="col">کد پستی</th>
                <th scope="col" width="140">درصد تخصیص</th>
                <th scope="col" width="80" colspan="2">عملیات</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of energyDto.buildingList; let i = index">
                <tr>
                  <th scope="row" width="40">{{i + 1}}</th>
                  <td>{{item.name}}</td>
                  <td>{{buildingEnum[item.useType].toString()}}</td>
                  <td>{{item.postalCode}}</td>
                  <td>{{item.allocationPercentage}}</td>
                  <td width="40" class="text-center">
                <span class="cursor-pointer text-center fa fa-edit"
                      (click)="editAllocationPercentage(item)">
                </span>
                  </td>
                  <td width="40" class="text-center">
                <span class="cursor-pointer text-center fa fa-trash"
                      (click)="deleteBuilding(item, i)">
                </span>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">لیست ساختمان ها</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-end">
        <div class="mb-4 col-md-6 mt-2">
          <div class="w-100">
            <label for="filterBuilding" class="form-label">عنوان ساختمان</label>
            <input class="form-control text-right" id="filterBuilding" placeholder=""
                   [(ngModel)]="filterBuilding"
                   name="filterBuilding"
            >
          </div>
        </div>
        <div class="mb-4 col-auto mt-2">
          <div class="btn btn-primary" (click)="getListBuilding()">
            جستجو
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" width="40">#</th>
              <th scope="col">عنوان ساختمان</th>
              <th scope="col">نوع</th>
              <th scope="col">کد پستی</th>
              <th scope="col" width="80">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of buildingList; let i = index">
              <tr>
                <th scope="row" width="40">{{i + 1}}</th>
                <td>{{item.name}}</td>
                <td>{{buildingEnum[item.useType].toString()}}</td>
                <td>{{item.postalCode}}</td>
                <td width="40">
                <span class="cursor-pointer text-center btn btn-primary"
                      data-dismiss="modal"
                      (click)="selectBuildingAllocation(item)">انتخاب</span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
