<div class="container-fluid">
  <div class="row">
    <form [formGroup]="form" class="form" enctype="multipart/form-data" (ngSubmit)="createEnergy()">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header flex-card-header">
          <strong *ngIf="!energyId"> تعریف<small> کنتور انرژی </small>  </strong>
          <strong *ngIf="energyId"> ویرایش<small> کنتور انرژی </small>  </strong>
          <div class="d-flex">
            <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/energyList'"> لیست </button> 
          </div>
      </div>     
        <div class="card-body">
        <!-- اطلاعات اشتراک -->
          <div class="form-group row">
              <!-- نام مشترک -->
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="name" class="form-label">نام مشترک</label>
                  <input class="form-control text-right" id="name" placeholder=""
                         [(ngModel)]="energyDto.name"
                         formControlName="name"
                         name="name">
                </div>
                <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
              </div>
              <!-- نشانی محل مصرف -->          
              <div class="mb-4 col-md-10">
                 <div class="w-100">
                  <label for="address" class="form-label">نشانی محل مصرف</label>
                  <textarea class="form-control text-right" id="address" placeholder=""
                  [(ngModel)]="energyDto.address"
                  formControlName="address"
                  name="address"></textarea>
                </div>
                <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
              </div>
              <!-- حامل انرژی -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="energyCarrier" class="form-label">حامل انرژی</label>
                  <select id="energyCarrier"
                          class="form-control text-right"
                          [(ngModel)]="energyDto.energyCarrier"
                          formControlName="energyCarrier"
                          name="energyCarrier">
                    <option *ngFor="let item of energyCarierEnum | enumKeyValue" [value]="item.key">
                      {{item.value}}
                    </option>
                  </select>
                </div>
                <app-alert-error [data]="form.controls['energyCarrier']" [touched]="touched"></app-alert-error>
              </div>             
              <!-- واحد انرژی -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="energyUnit" class="form-label">واحد انرژی</label>
                  <select id="energyUnit"
                          class="form-control text-right"
                          [(ngModel)]="energyDto.energyUnit"
                          formControlName="energyUnit"
                          name="energyUnit">
                    <option *ngFor="let item of carierUnitEnum | enumKeyValue" [value]="item.key">
                      {{item.value}}
                    </option>
                  </select>
                </div>
                <app-alert-error [data]="form.controls['energyUnit']" [touched]="touched"></app-alert-error>
              </div>
              <!-- شماره کنتور -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="shareNumber" class="form-label">شماره کنتور</label>
                  <input class="form-control text-right" id="shareNumber" placeholder=""
                         [(ngModel)]="energyDto.shareNumber"
                         formControlName="shareNumber"
                         name="shareNumber">
                </div>
                <app-alert-error [data]="form.controls['shareNumber']" [touched]="touched"></app-alert-error>
              </div>
              <!-- ظرفیت -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="capacity" class="form-label">ظرفیت </label>
                  <input class="form-control text-right" id="capacity" placeholder=""
                         [(ngModel)]="energyDto.capacity"
                         formControlName="capacity"
                         name="capacity" >
                </div>
                <app-alert-error [data]="form.controls['capacity']" [touched]="touched"></app-alert-error>
              </div>
              <!-- ضریب تبدیل به کیلووات -->          
              <div class="mb-4 col-md-2">
                <div class="w-100">
                  <label for="kiloWatConvert" class="form-label">ضریب تبدیل به کیلووات </label>
                  <input class="form-control text-right" id="kiloWatConvert" placeholder=""
                         [(ngModel)]="energyDto.kiloWatConvert"
                         formControlName="kiloWatConvert"
                         name="kiloWatConvert">
                </div>
                <app-alert-error [data]="form.controls['kiloWatConvert']" [touched]="touched"></app-alert-error>
              </div>
          </div>      
      </div>
        <!-- ثبت اطلاعات  -->
        <div class="card-footer">
          <button type="submit" class="btn btn-success text-center ml-3" *ngIf="!energyId">ثبت</button>
          <button type="submit" class="btn btn-success text-center ml-3" *ngIf="energyId">ویرایش</button>
          <!-- <button class="btn btn-sm btn-danger" type="reset"> پاکسازی فرم</button> -->
        </div>
      </div>
    </div> 
  </form>
  </div>

<!-- اطلاعات ساختمان -->
<div *ngIf="energyId">
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-12">
      <div class="card border-primary">
        <!-- عنوان جدول -->
        <div class="card-header flex-card-header">
          <strong id= "billingSearchId"> تخصیص کنتور </strong>
        </div> 
        <!-- جدول ساختمان های  -->
        <div class="card-body">
            <div class="table" *ngIf="energyDto.buildingList?.length > 0">
              <table class="table table-striped table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col" width="40">#</th>
                <th scope="col">عنوان </th>
                <th scope="col">نوع</th>
                <th scope="col" width="140">درصد تخصیص</th>
                <th scope="col" width="80" colspan="2">عملیات</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of energyDto.buildingList; let i = index">
                <tr>
                  <th scope="row" width="40">{{i + 1}}</th>
                  <td>{{item.name}}</td>
                  <td>{{utilityTypeEnum[item.utilityType].toString()}}</td>
                  <td>{{item.allocationPercentage}}</td>
                  <td width="40" class="text-center">
                <span class="cursor-pointer text-center fa fa-edit"
                      (click)="editAllocationPercentage(item)">
                </span>
                  </td>
                  <td width="40" class="text-center">
                <span class="cursor-pointer text-center fa fa-trash"
                      (click)="deleteBuilding(item, i)">
                </span>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
        </div> 
        <!-- انتخاب ساختمان -->   
          <div class="form-group row"> 
            <div class="col-md-3">
              <p class="form-control-static"> انتخاب ساختمان یا تاسیسات</p>
            </div>
            <div class="col-md-9">
              <p class="form-control-static">درصد تخصیص</p>
            </div>
          <!-- انتخاب  -->
          <div class="col-md-3">
              <button class="btn btn-outline-primary text-center" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getListBuilding()">انتخاب</button>
              <span class="mr-2" style="font-size: 13px;" *ngIf="buildingAllocation.name">
                ({{buildingAllocation.name}})
              </span>
            </div>
            <!-- درصد تخصیص -->
              <div class="mb-4 col-md-2">
              <input class="form-control text-right" id="allocationPercentage" placeholder=""
                    [(ngModel)]="buildingAllocation.allocationPercentage"
                    name="allocationPercentage">
                </div>
          </div>    
        </div>
        <!-- ته برگ فرم -->
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addBuildingAllocation()">ثبت ساختمان</button>
        </div>

         <!-- فرم محاوره ای لیست ساختمانها -->
         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="container-fluid">
           <div class="modal-dialog modal-lg">
             <div class="card border-warning">
               <div class="modal-content">
                <!-- سربرگ  فرم  -->
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">لیست ساختمان ها و تاسیسات</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="d-flex align-items-end">
                  <!-- عنوان ساختمان یا تاسیس -->
                  <div class="mb-4 col-md-2 mt-2">
                    <div class="w-100">
                      <label for="filterBuilding" class="form-label">عنوان </label>
                      <input class="form-control text-right" id="filterBuilding" placeholder=""
                            [(ngModel)]="filterBuilding"
                            name="filterBuilding">
                    </div>
                  </div>
                  <!-- جستجو -->
                  <div class="mb-4 col-auto mt-2">
                    <div class="btn btn-primary" (click)="getListBuilding()">جستجو  </div>
                  </div>
                </div>
                <!-- جدول ساختمانها -->
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col" width="40">#</th>
                        <th scope="col">عنوان </th>
                        <th scope="col">نوع</th>
                        <th scope="col" width="80">عملیات</th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let item of buildingList; let i = index">
                        <tr>
                          <th scope="row" width="40">{{i + 1}}</th>
                          <td>{{item.name}}</td>
                          <td>{{utilityTypeEnum[item.utilityType].toString()}}</td>
                          <td width="40">
                          <span class="cursor-pointer text-center btn btn-primary"
                                data-dismiss="modal"
                                (click)="selectBuildingAllocation(item)">انتخاب</span>
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           </div>
         </div>
       </div>
      </div>
    </div>      
  </div>
</div></div>
