<div class="col-12">
  <h1>
    <strong>افزودن ساختمان </strong>
  </h1>
<!--  <p class="sub-title-header">-->
<!--    اطلاعات پروفایل-->
<!--  </p>-->
  <hr>

  <div class="md-stepper-horizontal green persian-number">
    <div class="md-step" [ngClass]="{'active done':endActiveStep >= 0, 'editable' : currentStep === 0}">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">انتخاب منطقه</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done':endActiveStep >= 1, 'editable' : currentStep === 1}">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">افزودن ساختمان</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done': endActiveStep >= 2, 'editable' : currentStep === 2}">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">مساحت</div>
<!--      <div class="md-step-optional">اختیاری</div>-->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done': endActiveStep >= 3, 'editable' : currentStep === 3}">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">فضا</div>
<!--      <div class="md-step-optional">اختیاری</div>-->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done': endActiveStep >= 4, 'editable' : currentStep === 4}">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">نقشه</div>
<!--      <div class="md-step-optional">اختیاری</div>-->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done': endActiveStep >= 5, 'editable' : currentStep === 5}">
      <div class="md-step-circle"><span>5</span></div>
      <div class="md-step-title">اطلاعات جداره ها</div>
<!--      <div class="md-step-optional">اختیاری</div>-->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" [ngClass]="{'active done': endActiveStep >= 6, 'editable' : currentStep === 6}">
      <div class="md-step-circle"><span>6</span></div>
      <div class="md-step-title">اشتراک</div>
<!--      <div class="md-step-optional">اختیاری</div>-->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  </div>

  <div class="md-wrapper-stepper">
    <p class="alert alert-success" *ngIf="region.regTitle">
      <span>{{region.rootTitle}}</span>
      <span class="fa fa-angle-left mx-2"></span>
      <span>{{region.parentTitle}}</span>
      <span class="fa fa-angle-left mx-2"></span>
      <strong class="ml-1">{{region.regTitle}}</strong>
      انتخاب شد.
    </p>
    <div class="md-content-stepper" [hidden]="currentStep !== 0" *ngIf="endActiveStep >= 0">
      <app-tree-view (regionOutput)="getRegion($event)"></app-tree-view>
      <button type="submit" [disabled]="!region.regId" (click)="getStep(1)" class="btn btn-primary text-center ml-3">ادامه</button>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 1" *ngIf="endActiveStep >= 1">
      <app-add-building [regionId]="region.regId" (nextStep)="getStep($event)"></app-add-building>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 2"  *ngIf="endActiveStep >= 2">
      <app-symptom-list [visitId]="visitId" (nextStep)="getStep($event)"></app-symptom-list>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 3"  *ngIf="endActiveStep >= 3">
      <app-blood-sugar [visitId]="visitId" (nextStep)="getStep($event)"></app-blood-sugar>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 4" *ngIf="endActiveStep >= 4">
      <app-blood-pressure [visitId]="visitId" (nextStep)="getStep($event)"></app-blood-pressure>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 5" *ngIf="endActiveStep >= 5">
      <app-blood-pressure [visitId]="visitId" (nextStep)="getStep($event)"></app-blood-pressure>
    </div>
    <div class="md-content-stepper" [hidden]="currentStep !== 6" *ngIf="endActiveStep >= 6">
      <app-blood-pressure [visitId]="visitId" (nextStep)="getStep($event)"></app-blood-pressure>
    </div>
  </div>


</div>

