
<div class="container-fluid">
  <!-- اطلاعات کلی ساختمان -->
  <div class="row">
      <div class="col-lg-12">
      <div class="card">
        <div class="card-header flex-card-header">
          <strong *ngIf="!buildingId"> تعریف<small> ساختمان </small>  </strong>
          <strong *ngIf="buildingId"> ویرایش<small> ساختمان </small>  </strong>
            <div class="d-flex">
            <button class="btn btn-outline-primary" [routerLink]="'/index/user/configuration/buildingList'">لیست</button>
          </div>
        </div>     
        <p class="alert alert-success"> <span [innerHTML]="region"></span> </p>
        <div class="card-body">
          <!-- اطلاعات ساختمان -->
          <div class="form-group row">
             <form [formGroup]="form" class="w-100" >
                <div class="card">
                  <div class="form row">
                    <!-- نام ساختمان  -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="name" class="form-label">نام ساختمان</label>
                        <input class="form-control text-right" id="name" placeholder=""
                               [(ngModel)]="buildingDto.name"
                               formControlName="name"
                               name="name">
                      </div>
                      <app-alert-error [data]="form.controls['name']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- نوع کاربری -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="useType" class="form-label">نوع کاربری </label>
                        <select name="useType" id="useType"
                                class="form-control text-right"
                                formControlName="useType"
                                [(ngModel)]="buildingDto.useType">
                                <option *ngFor="let item of useTypeEnum | enumKeyValue" [value]="item.key">
                                  {{item.value}}
                                </option>
                              </select>
                            </div>
                      <app-alert-error [data]="form.controls['useType']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- سال ساخت  -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="constructionYear" class="form-label">سال ساخت</label>
                        <input class="form-control text-right" id="constructionYear" placeholder=""
                               type="number" min="0"
                               maxlength="12"
                               [(ngModel)]="buildingDto.constructionYear"
                               formControlName="constructionYear"
                               name="constructionYear">
                      </div>
                      <app-alert-error [data]="form.controls['constructionYear']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- تعداد طبقات  -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="floorNum" class="form-label">تعداد طبقات</label>
                        <input class="form-control text-right" id="floorNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.floorNum "
                               formControlName="floorNum"
                               name="floorNum"
                               maxlength="3">
                      </div>
                      <app-alert-error [data]="form.controls['floorNum']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- تعداد نفرات بهره بردار  -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="exploitationPersonnelNum" class="form-label">تعداد نفرات بهره بردار</label>
                        <input class="form-control text-right" id="exploitationPersonnelNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.exploitationPersonnelNum"
                               formControlName="exploitationPersonnelNum"
                               name="exploitationPersonnelNum">
                      </div>
                      <app-alert-error [data]="form.controls['exploitationPersonnelNum']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- مالکیت -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="ownership" class="form-label">مالکیت</label>
                        <select name="ownership" id="ownership"
                                class="form-control text-right"
                                formControlName="ownership"
                                [(ngModel)]="buildingDto.ownership">
                          <option *ngFor="let item of ownershipEnum | enumKeyValue" [value]="item.key">
                            {{item.value}}
                          </option>
                        </select>
                      </div>
                      <app-alert-error [data]="form.controls['ownership']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- نوع سیستم گرمایشی -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="heatingSystemType" class="form-label">نوع سیستم گرمایشی</label>
                        <select name="heatingSystemType" id="heatingSystemType"
                                class="form-control text-right"
                                formControlName="heatingSystemType"
                                [(ngModel)]="buildingDto.heatingSystemType">
                          <option *ngFor="let item of heatingSystemTypeEnum | enumKeyValue" [value]="item.key">
                            {{item.value}}
                          </option>
                        </select>
                      </div>
                      <app-alert-error [data]="form.controls['heatingSystemType']" [touched]="touched"></app-alert-error>
                    </div>   
                    <!-- نوع سیستم سرمایشی -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="coolingSystemType" class="form-label">نوع سیستم سرمایشی</label>
                        <select name="coolingSystemType" id="coolingSystemType"
                                class="form-control text-right"
                                formControlName="coolingSystemType"
                                [(ngModel)]="buildingDto.coolingSystemType">
                          <option *ngFor="let item of coolingSystemTypeEnum | enumKeyValue" [value]="item.key">
                            {{item.value}}
                          </option>
                        </select>
                      </div>
                      <app-alert-error [data]="form.controls['coolingSystemType']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- تعداد انشعاب برق -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="powerSharingNum" class="form-label">تعداد انشعاب برق</label>
                        <input class="form-control text-right" id="powerSharingNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.powerSharingNum"
                               formControlName="powerSharingNum"
                               name="powerSharingNum">
                      </div>
                      <app-alert-error [data]="form.controls['powerSharingNum']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- تعداد انشعاب گاز -->
                        <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="gasSharingNum" class="form-label">تعداد انشعاب گاز</label>
                        <input class="form-control text-right" id="gasSharingNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.gasSharingNum"
                               formControlName="gasSharingNum"
                               name="gasSharingNum">
                      </div>
                      <app-alert-error [data]="form.controls['gasSharingNum']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- تعداد انشعاب آب  -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="waterSharingNum" class="form-label">تعداد انشعاب آب </label>
                        <input class="form-control text-right" id="waterSharingNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.waterSharingNum"
                               formControlName="waterSharingNum"
                               name="waterSharingNum">
                      </div>
                      <app-alert-error [data]="form.controls['waterSharingNum']" [touched]="touched"></app-alert-error>
                    </div>    
                    <!-- تعداد حامل های انرژی غیر -->
                    <div class="mb-4 col-md-2">
                      <div class="w-100">
                        <label for="nonEnergyCarrierSharingNum" class="form-label">تعداد حامل های انرژی غیر </label>
                        <input class="form-control text-right" id="nonEnergyCarrierSharingNum" placeholder=""
                               type="number" min="0"
                               [(ngModel)]="buildingDto.nonEnergyCarrierSharingNum"
                               formControlName="nonEnergyCarrierSharingNum"
                               name="nonEnergyCarrierSharingNum">
                      </div>
                      <app-alert-error [data]="form.controls['nonEnergyCarrierSharingNum']" [touched]="touched"></app-alert-error>
                    </div>    
                    <!-- کد پستی -->
                    <div class="mb-4 col-md-2">
                    <div class="w-100">
                      <label for="postalCode" class="form-label">کد پستی</label>
                      <input class="form-control text-right" id="postalCode" placeholder=""
                              maxlength="10"
                              minlength="10"
                              [(ngModel)]="buildingDto.postalCode"
                              formControlName="postalCode"
                              name="postalCode">
                    </div>
                    <app-alert-error [data]="form.controls['postalCode']" [touched]="touched"></app-alert-error>
                    </div>
                    <!-- آدرس -->
                    <div class="mb-4 col-12">
                      <div class="w-100">
                        <label for="address" class="form-label">آدرس</label>
                        <textarea class="form-control text-right" id="address" placeholder=""
                                  [(ngModel)]="buildingDto.address"
                                  formControlName="address"
                                  name="address"
                        ></textarea>
                      </div>
                      <app-alert-error [data]="form.controls['address']" [touched]="touched"></app-alert-error>
                    </div>      
                  </div>
              </div>
              <div class="card">
                <div class="card-header flex-card-header">
                  <strong >مساحت ها <small> تمامی ابعاد بر حسب متر مربع میباشد  </small>  </strong>  
                </div>
                <div class="form row">
                <!-- مساحت عرصه -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="arenaArea" class="form-label"> عرصه</label>
                    <input class="form-control text-right" id="arenaArea" placeholder=""
                    type="number" min="0"
                    [(ngModel)]="buildingDto.arenaArea"
                    formControlName="arenaArea"
                    name="arenaArea">
                  </div>
                  <app-alert-error [data]="form.controls['arenaArea']" [touched]="touched"></app-alert-error>
                </div>
                <!-- مساحت اعیان -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="ayanArea" class="form-label"> اعیان</label>
                    <input class="form-control text-right" id="ayanArea" placeholder=""
                          type="number" min="0"
                          maxlength="12"
                          [(ngModel)]="buildingDto.ayanArea"
                          formControlName="ayanArea"
                          name="ayanArea">
                  </div>
                  <app-alert-error [data]="form.controls['ayanArea']" [touched]="touched"></app-alert-error>
                </div>
                 <!-- مساحت مفید -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="useFullArea" class="form-label"> مفید</label>
                    <input class="form-control text-right" id="useFullArea" placeholder=""
                          type="number" min="0"
                          maxlength="12"
                          [(ngModel)]="buildingDto.useFullArea"
                          formControlName="useFullArea"
                          name="useFullArea">
                  </div>
                  <app-alert-error [data]="form.controls['useFullArea']" [touched]="touched"></app-alert-error>
                </div>
                <!-- مساحت کل جداره های خارجی -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="externalWallsTotalArea" class="form-label">  جداره های خارجی</label>
                    <input class="form-control text-right" id="externalWallsTotalArea" placeholder=""
                          type="number" min="0"
                          [(ngModel)]="buildingDto.externalWallsTotalArea "
                          formControlName="externalWallsTotalArea"
                          name="externalWallsTotalArea"
                          maxlength="3">
                  </div>
                  <app-alert-error [data]="form.controls['externalWallsTotalArea']" [touched]="touched"></app-alert-error>
                </div>
                 <!-- مساحت کل شیشه های خارجی -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="externalGlassTotalArea" class="form-label">  شیشه های خارجی</label>
                    <input class="form-control text-right" id="externalGlassTotalArea" placeholder=""
                          type="number" min="0"
                          [(ngModel)]="buildingDto.externalGlassTotalArea"
                          formControlName="externalGlassTotalArea"
                          name="externalGlassTotalArea">
                  </div>
                  <app-alert-error [data]="form.controls['externalGlassTotalArea']" [touched]="touched"></app-alert-error>
                </div>
            </div>
          </div>
        </form>
        </div>      
      </div>
        <!-- ثبت اطلاعات  -->
        <div class="card-footer">
          <button type="submit" class="btn btn-success text-center ml-3" (click)="updateBuilding()" *ngIf="!buildingId">ثبت</button>
          <button type="submit" class="btn btn-success text-center ml-3" (click)="updateBuilding()" *ngIf="buildingId">ویرایش</button>
          <button class="btn btn-sm btn-danger" type="reset"> پاکسازی فرم</button>
        </div>
      </div>
      </div> 
  </div>
  <!-- اطلاعات فضا ساختمان -->
  <div *ngIf="buildingId"> 
    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-12">
        <form [formGroup]="spaceForm" class="w-100" (ngSubmit)="createSpace()">
          <div class="card border-primary">
            <!-- اطلاعات فضا -->
            <div class="card-header flex-card-header">
              <strong id= "billingSearchId"> اطلاعات<small> فضا </small>   </strong>
            </div> 
            <div class="card-body">
              <p class="sub-title-header">تمامی ابعاد بر حسب متر مربع میباشد</p>
              <div class="form row">
                <!-- نام فضا -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="name" class="form-label">نام فضا</label>
                    <input class="form-control text-right" id="name" placeholder=""
                            [(ngModel)]="spaceDto.name"
                            formControlName="name"
                            name="name">
                  </div>
                  <app-alert-error [data]="spaceForm.controls['name']" [touched]="touched"></app-alert-error>
                </div>
                <!-- شماره فضا -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="number" class="form-label">شماره فضا</label>
                    <input class="form-control text-right" id="number" placeholder=""
                            type="number" min="0"
                            maxlength="12"
                            [(ngModel)]="spaceDto.number"
                            formControlName="number"
                            name="number">
                  </div>
                  <app-alert-error [data]="spaceForm.controls['number']" [touched]="touched"></app-alert-error>
                </div>
                <!-- شماره طبقه  -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="floorNum" class="form-label">شماره طبقه</label>
                    <input class="form-control text-right" id="floorNum" placeholder=""
                            type="number"
                            maxlength="12"
                            [(ngModel)]="spaceDto.floorNum"
                            formControlName="floorNum"
                            name="floorNum">
                  </div>
                  <app-alert-error [data]="spaceForm.controls['floorNum']" [touched]="touched"></app-alert-error>
                </div>
                <!-- کاربری  -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="useType" class="form-label">کاربری</label>
                    <input class="form-control text-right" id="useType" placeholder=""
                            [(ngModel)]="spaceDto.useType "
                            formControlName="useType"
                            name="useType">
                  </div>
                  <app-alert-error [data]="spaceForm.controls['useType']" [touched]="touched"></app-alert-error>
                </div>
                <!-- مساحت  -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="area" class="form-label">مساحت (متر مربع)</label>
                    <input class="form-control text-right" id="area" placeholder=""
                            type="number" min="0"
                            [(ngModel)]="spaceDto.area"
                            formControlName="area"
                            name="area">
                  </div>
                  <app-alert-error [data]="spaceForm.controls['area']" [touched]="touched"></app-alert-error>
                </div>
                <!-- ثبت و ویرایش فضا  -->
                <div class="col-12">
                  <div (click)="spaceCancel()" *ngIf="spaceEdited" class="btn btn-outline-primary text-center ml-3">انصراف</div>
                  <button type="submit" *ngIf="!spaceEdited" class="btn btn-success text-center ml-3">افزودن فضا</button>
                  <button type="submit" *ngIf="spaceEdited" class="btn btn-success text-center ml-3">ویرایش</button>
                </div>
              </div>
              <!-- جدول نمایش فضاها  -->
              <ng-container *ngIf="spaceList.length > 0">
                <div class="col-12"> <hr></div>
                <div class="table-bordered">
                      <table class="table table-striped table-bordered">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col" width="40">#</th>
                        <th scope="col">نام فضا</th>
                        <th scope="col">شماره فضا</th>
                        <th scope="col">شماره طبقه</th>
                        <th scope="col">کاربری</th>
                        <th scope="col">مساحت</th>
                        <th scope="col" width="80" colspan="2">عملیات</th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let item of spaceList; let i = index">
                        <tr>
                          <th scope="row" width="40">{{i + 1}}</th>
                          <td>{{item.name}}</td>
                          <td>{{item.number}}</td>
                          <td>{{item.floorNum}}</td>
                          <td>{{item.useType}}</td>
                          <td>{{item.area}}</td>
                          <td width="40"><span class="cursor-pointer fa fa-edit" (click)="editSpace(item)"></span></td>
                          <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteSpace(i, item.id)"></span></td>
                        </tr>
                      </ng-container>
                     </tbody>
                   </table>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- اطلاعات نقشه  -->
  <div *ngIf="buildingId"> 
    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-12">
        <form [formGroup]="mapForm" class="w-100" (ngSubmit)="createMap()">
          <div class="card border-primary">
            <!-- عنوان فرم نقشه -->
            <div class="card-header flex-card-header">
              <strong id= "billingSearchId"> اطلاعات<small> نقشه </small>   </strong>
            </div> 
            <div class="card-body">
              <div class="form row">
                <!-- عنوان نقشه -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="title" class="form-label">عنوان نقشه</label>
                    <input class="form-control text-right" id="title" placeholder=""
                          [(ngModel)]="mapDto.title"
                          formControlName="title"
                          name="title">
                  </div>
                  <app-alert-error [data]="mapForm.controls['title']" [touched]="touched"></app-alert-error>
                </div>
                <!-- دسته بندی نقشه -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="category" class="form-label">دسته بندی نقشه</label>
                    <select id="category"
                            class="form-control text-right"
                            [(ngModel)]="mapDto.category"
                            formControlName="category"
                            name="category">
                            <option *ngFor="let item of mapEnum | enumKeyValue" [value]="item.key">
                              {{item.value}} </option>
                    </select>
                  </div>
                  <app-alert-error [data]="mapForm.controls['category']" [touched]="touched"></app-alert-error>
                </div>
                <!-- شماره نقشه -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label for="number" class="form-label">شماره نقشه</label>
                    <input class="form-control text-right" id="number" placeholder=""
                          maxlength="12"
                          [(ngModel)]="mapDto.number"
                          formControlName="number"
                          name="number">
                  </div>
                  <app-alert-error [data]="mapForm.controls['number']" [touched]="touched"></app-alert-error>
                </div>
                <!-- بارگزاری نقشه -->
                <div class="mb-4 col-md-2">
                  <div class="w-100">
                    <label class="form-label">بارگزاری نقشه</label>
                    <div class="w-100 d-flex mb-3">
                      <app-upload-file (uploadFileDomainOut)="mapUploading($event)"></app-upload-file>
                    </div>
                  </div>
                </div>
                <!-- نمایش نقشه -->
                <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                <div class="btn-group btn-group-toggle mx-3" data-toggle="buttons" *ngIf="mapDto.fileLink && mapDto.fileLink !== ' '">
                  <!-- <div class="mb-4 col-md-2" *ngIf="mapDto.fileLink && mapDto.fileLink !== ' '"> -->
                    <div class="w-100">
                    <div class="box-image">
                      <a href="{{pathUrl + mapDto.fileLink}}" target="_blank">
                        <img [src]="pathUrl + mapDto.fileLink" class="rounded-circle  max-width: 20%" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                </div>
                <!-- ویرایش و ثبت اطلاعات -->           
                <div class="col-12">
                  <div (click)="mapCancel()" *ngIf="mapEdited" class="btn btn-outline-primary text-center ml-3">انصراف</div>
                  <button type="submit" *ngIf="!mapEdited" class="btn btn-success text-center ml-3">افزودن </button>
                  <button type="submit" *ngIf="mapEdited" class="btn btn-success text-center ml-3">ویرایش</button>
                </div>
                <!-- جدول نمایش نقشه  -->
                <ng-container *ngIf="mapList.length > 0">
                  <div class="col-12"> <hr></div>
                   <div class="table-bordered">
                    <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col" width="40">#</th>
                      <th scope="col">عنوان نقشه</th>
                      <th scope="col">دسته بندی نقشه</th>
                      <th scope="col">شماره نقشه</th>
                      <th scope="col" width="80" colspan="2">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of mapList; let i = index">
                        <tr>
                        <th scope="row" width="40">{{i + 1}}</th>
                        <td>{{item.title}}</td>
                        <td>{{mapEnum[item.category].toString()}}</td>
                        <td>{{item.number}}</td>
                        <td width="40"><span class="cursor-pointer fa fa-edit" (click)="editMap(item)"></span></td>
                        <td width="40"><span class="cursor-pointer fa fa-trash" (click)="deleteMap(i, item.id)"></span></td>
                        </tr>
                    </ng-container>
                    </tbody>
                    </table>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 <!-- اطلاعات جداره ها  -->
 <div *ngIf="buildingId"> 
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-12">
      <form [formGroup]="wallForm" class="w-100" (ngSubmit)="createWallInformation()">
        <div class="card border-primary">
          <!-- عنوان فرم جداره -->
          <div class="card-header flex-card-header">
            <strong id= "billingSearchId"> اطلاعات<small> جداره ها </small>   </strong>
          </div> 
          <div class="card-body">
            <p class="sub-title-header">تمامی ابعاد بر حسب متر مربع میباشد</p>
            <div class="form row">  
              <!-- دیوار خارجی مجاور فضای خارج -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exWallAdjOutSpaceArea" class="form-label"> دیوار خارجی مجاور فضای خارج</label>
                  <input class="form-control text-right" id="exWallAdjOutSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exWallAdjOutSpaceArea"
                         formControlName="exWallAdjOutSpaceArea"
                         name="exWallAdjOutSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exWallAdjOutSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- کف خارجی مجاور فضای خارج -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exFloorAdjOutSpaceArea" class="form-label"> کف خارجی مجاور فضای خارج</label>
                  <input class="form-control text-right" id="exFloorAdjOutSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exFloorAdjOutSpaceArea"
                         formControlName="exFloorAdjOutSpaceArea"
                         name="exFloorAdjOutSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exFloorAdjOutSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- دیوار خارجی مجاور فضای کنترل نشده -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exWallAdjNotControlledSpaceArea" class="form-label"> دیوار خارجی مجاور فضای کنترل نشده</label>
                  <input class="form-control text-right" id="exWallAdjNotControlledSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exWallAdjNotControlledSpaceArea"
                         formControlName="exWallAdjNotControlledSpaceArea"
                         name="exWallAdjNotControlledSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exWallAdjNotControlledSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- کف خارجی مجاور فضای کنترل نشده -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exFloorAdjNotControlledSpaceArea" class="form-label"> کف خارجی مجاور فضای کنترل نشده</label>
                  <input class="form-control text-right" id="exFloorAdjNotControlledSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exFloorAdjNotControlledSpaceArea"
                         formControlName="exFloorAdjNotControlledSpaceArea"
                         name="exFloorAdjNotControlledSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exFloorAdjNotControlledSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- سقف/بام خارجی مجاور فضای خارج -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exRoofAdjOutSpaceArea" class="form-label"> سقف/بام خارجی مجاور فضای خارج</label>
                  <input class="form-control text-right" id="exRoofAdjOutSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exRoofAdjOutSpaceArea"
                         formControlName="exRoofAdjOutSpaceArea"
                         name="exRoofAdjOutSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exRoofAdjOutSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- پنجره مجاور فضای خارج -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="outWindowAdjOutSpaceArea" class="form-label"> پنجره مجاور فضای خارج</label>
                  <input class="form-control text-right" id="outWindowAdjOutSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.outWindowAdjOutSpaceArea"
                         formControlName="outWindowAdjOutSpaceArea"
                         name="outWindowAdjOutSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['outWindowAdjOutSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- سقف/بام خارجی مجاور فضای کنترل نشده -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="exRoofAdjNotControlledSpaceArea" class="form-label"> سقف/بام خارجی مجاور فضای کنترل نشده</label>
                  <input class="form-control text-right" id="exRoofAdjNotControlledSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.exRoofAdjNotControlledSpaceArea"
                         formControlName="exRoofAdjNotControlledSpaceArea"
                         name="exRoofAdjNotControlledSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['exRoofAdjNotControlledSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
              <!-- پنجره خارجی مجاور فضای کنترل نشده -->
              <div class="mb-4 col-md-3">
                <div class="w-100">
                  <label for="windowAdjNotControlledSpaceArea" class="form-label"> پنجره مجاور فضای کنترل نشده</label>
                  <input class="form-control text-right" id="windowAdjNotControlledSpaceArea" placeholder=""
                         type="number" min="0"
                         [(ngModel)]="wallInformation.windowAdjNotControlledSpaceArea"
                         formControlName="windowAdjNotControlledSpaceArea"
                         name="windowAdjNotControlledSpaceArea">
                </div>
                <app-alert-error [data]="wallForm.controls['windowAdjNotControlledSpaceArea']" [touched]="touched"></app-alert-error>
              </div>
          
              <!-- ویرایش و ثبت اطلاعات -->           
              <div class="col-12">
                <button type="submit" *ngIf="!wallEdited" class="btn btn-success text-center ml-3">افزودن </button>
                <button type="submit" *ngIf="wallEdited" class="btn btn-success text-center ml-3">ویرایش</button>
              </div>
              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</div>



