.parent-forget-password {
  padding: 6%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #f0f2fb;

  .box-forget-password {
    max-width: 900px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 25px 8px #e0e1e6;

    .login-area {
      padding: 25px 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .sub-title {
        font-size: 13px;
        color: #666666;
        width: 100%;
        max-width: 230px;
      }
    }

    .login-banner {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url('~src/assets/image/login.jpg');
    }
  }

  .forget-password {
    color: #007bff;
    outline: 0 !important;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 13px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #0069d9;
    }
  }
}

::placeholder {
  font-size: 14px;
}
