<div class="parent-forget-password">
  <div class="box-forget-password col-12">
    <div class="row h-100">
      <div class="login-area col-md-auto">
        <form [formGroup]="reqForgetPass" (ngSubmit)="reqForgetPassword()" *ngIf="stepForget === 'one'">
          <h1 class="mb-3"><strong>فراموشی رمزعبور</strong></h1>
          <div class="mb-4">
            <p class="sub-title mb-1"><strong>نمیتوانید وارد شوید؟</strong></p>
            <p class="sub-title">نگران نباشید ما در کنار شما هستیم</p>
          </div>
          <div class="mb-3">
            <label for="mobileOrEmail" class="form-label">نام کاربری</label>
            <input type="text" class="form-control" id="mobileOrEmail"
                   name="mobileOrEmail"
                   placeholder="شماره موبایل/ایمیل"
                   formControlName="mobileOrEmail"
                   [(ngModel)]="mobileOrEmailDto.username">
            <app-alert-error [data]="reqForgetPass.controls['mobileOrEmail']" [touched]="touched"></app-alert-error>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <button type="submit" id="reqBtn" class="btn btn-primary text-center position-relative">ارسال</button>
            <button [routerLink]="'/auth'" class="btn btn-outline-primary text-center">بازگشت</button>
          </div>
        </form>

        <form [formGroup]="restPasswordForm" (ngSubmit)="restPassword()" *ngIf="stepForget === 'two'">
          <h1 class="mb-3"><strong>فراموشی رمزعبور</strong></h1>
          <div class="mb-4">
            <p class="sub-title mb-1"><strong>نمیتوانید وارد شوید؟</strong></p>
            <p class="sub-title">نگران نباشید ما در کنار شما هستیم</p>
          </div>
          <div class="mb-3">
            <label for="token" class="form-label">توکن</label>
            <input type="text" class="form-control" id="token"
                   name="token"
                   maxlength="6"
                   minlength="6"
                   placeholder="توکن"
                   formControlName="token"
                   [(ngModel)]="restPasswordDto.token">
            <app-alert-error [data]="restPasswordForm.controls['token']" [touched]="touched"></app-alert-error>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">رمزعبور</label>
            <input type="password" class="form-control" id="password"
                   name="password"
                   placeholder="رمزعبور"
                   formControlName="password"
                   [(ngModel)]="restPasswordDto.password">
            <app-alert-error [data]="restPasswordForm.controls['password']" [touched]="touched"></app-alert-error>
            <div class="invalid-alert"
                 *ngIf="(restPasswordForm.controls['passwordConfirm'].touched || touched) && restPasswordForm.controls['passwordConfirm'].hasError('passwordMismatch')">رمز عبور یکسان نیست!</div>
          </div>
          <div class="mb-3">
            <label for="passwordConfirm" class="form-label">تکرار رمزعبور</label>
            <input type="password" class="form-control" id="passwordConfirm"
                   name="passwordConfirm"
                   placeholder="تکرار رمزعبور"
                   formControlName="passwordConfirm"
                   [(ngModel)]="restPasswordDto.passwordConfirm">
            <app-alert-error [data]="restPasswordForm.controls['passwordConfirm']" [touched]="touched"></app-alert-error>
            <div class="invalid-alert"
                 *ngIf="(restPasswordForm.controls['passwordConfirm'].touched || touched) && restPasswordForm.controls['passwordConfirm'].hasError('passwordMismatch')">رمز عبور یکسان نیست!</div>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <button type="submit" id="restbtn" class="btn btn-primary text-center position-relative">ارسال</button>
            <button (click)="stepForget = 'one';" class="btn btn-outline-primary text-center">بازگشت</button>
          </div>
        </form>

      </div>
      <div class="login-banner col-md d-md-block d-none">
      </div>
    </div>
  </div>
</div>
