<div>
    <div class="col-12">
        <div class="title-header d-flex justify-content-between align-items-center">
            <div>
              <h1>
                <strong>صحت سنجی میزان مصرف برق   </strong>
              </h1>
              <p class="sub-title-header">
                با انتخاب منطقه مورد نظر صحت سنجی میزان مصرف برق آن منطقه را می توان مشاهده کرد
              </p>
            </div>
            <div class="d-flex">
              <!-- <button class="btn btn-primary" [routerLink]="'/index/user/analysis/demandSum'">تحلیل  </button> -->
            </div>
          </div>
    </div>
    <div class="col-12">
    <h1>{{region}}</h1>
    <analysis-chart-panel category="LINE"></analysis-chart-panel>
</div>

