<div>
    <div class="col-12">
        <div class="title-header d-flex justify-content-between align-items-center">
            <div>
              <h1>
                <strong>تحلیل جریمه بدی مصرف اشتراکات برق  </strong>
              </h1>
              <p class="sub-title-header">
                با انتخاب منطقه مورد نظر تحلیل جریمه بدی مصرف اشتراکات برق آن منطقه را می توان مشاهده کرد
              </p>
            </div>
            <div class="d-flex">
              <!-- <button class="btn btn-primary" [routerLink]="'/index/user/analysis/voltag'">تحلیل ولتاژ </button> -->
              <!--pagination صفحه بندی   -->
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <span class="page-link">قبلی</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active">
                    <span class="page-link">
                      2
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">بعدی</a>
                  </li>
                </ul>
              </nav>

              <!-- <app-paginator
              [matPaginator]="false"
              [totalPages]="totalPages"
              [totalElements]="length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[1,5,10,15,25]"
              [showFirstLastButtons]="true"
              (page)="changePage($event)"
            ></app-paginator> -->

            </div>
          </div>
    </div>
    <div class="col-12">
    <h1>{{region}}</h1>
    <analysis-chart-panel category="LINE"></analysis-chart-panel>
</div>

