<form style="text-align: right" id="profileForm" [formGroup]="profileForm"
      (ngSubmit)="onProfileUpdateSubmit(profileForm)">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label style="text-align: left" for="firstName">نام</label>
      <input type="text" class="form-control" id="firstName" placeholder="علی" [(ngModel)]="user.firstName"
             formControlName="firstName"
             name="firstName" readonly>
      <div *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
           class="alert alert-danger">
        <div *ngIf="f.firstName.errors.required">
          نام نمیتواند خالی باشد.
        </div>
        <div *ngIf="f.firstName.errors.minlength">
          نام نمیتواند کمتر از 11 کاراکتر باشد.
        </div>
        <div *ngIf="f.firstName.errors.maxlength">
          نام نمیتواند کمتر از 11 کاراکتر باشد.
        </div>
      </div>

    </div>
    <div class="form-group col-md-6">
      <label for="lastName">نام خانوادگی</label>
      <input type="text" class="form-control" id="lastName" placeholder="ایمانی" [(ngModel)]="user.lastName"
             formControlName="lastName"
             name="lastName" readonly>

      <div *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
           class="alert alert-danger">
        <div *ngIf="f.lastName.errors.required">
          نام خانوادگی نمیتواند خالی باشد.
        </div>
        <div *ngIf="f.lastName.errors.minlength">
          نام خانوادگی نمیتواند کمتر از 11 کاراکتر باشد.
        </div>
        <div *ngIf="f.lastName.errors.maxlength">
          نام خانوادگی نمیتواند کمتر از 11 کاراکتر باشد.
        </div>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="address">آدرس</label>
    <input type="text" class="form-control" id="address" placeholder="شهرک اندیشه .." [(ngModel)]="user.address"
           formControlName="address"
           name="address" readonly>

    <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert alert-danger">
      <div *ngIf="f.address.errors.required">
        آدرس نمیتواند خالی باشد.
      </div>
      <div *ngIf="f.address.errors.minlength">
        آدرس نمیتواند کمتر از 50 کاراکتر باشد.
      </div>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">شهر</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="user.city" formControlName="city" name="city"
             readonly>
      <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)" class="alert alert-danger">
        <div *ngIf="f.city.errors.required">
          شهر نمیتواند خالی باشد.
        </div>
        <div *ngIf="f.city.errors.minlength">
          شهر نمیتواند کمتر از 3 کاراکتر باشد.
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="province">استان</label>
      <input type="text" class="form-control" id="province" [(ngModel)]="user.province" formControlName="province"
             name="province" readonly>
      <div *ngIf="f.province.invalid && (f.province.dirty || f.province.touched)" class="alert alert-danger">
        <div *ngIf="f.province.errors.required">
          استان نمیتواند خالی باشد.
        </div>
        <div *ngIf="f.province.errors.minlength">
          استان نمیتواند کمتر از 3 کاراکتر باشد.
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone">شماره تلفن</label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" formControlName="phone" name="phone"
             readonly>
      <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="alert alert-danger">
        <div *ngIf="f.phone.errors.required">
          شماره تلفتن نمیتواند خالی باشد.
        </div>
        <div *ngIf="f.phone.errors.minlength">
          شماره تلفتن نمیتواند کمتر از 11 کاراکتر باشد.
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="organizationalUnit">واحد سازمانی</label>
      <input type="text" class="form-control" id="organizationalUnit" [(ngModel)]="user.organizationalUnit"
             formControlName="organizationalUnit"
             name="organizationalUnit" readonly>
      <div *ngIf="f.organizationalUnit.invalid && (f.organizationalUnit.dirty || f.organizationalUnit.touched)"
           class="alert alert-danger">
        <div *ngIf="f.organizationalUnit.errors.required">
          واحد سازمانی نمیتواند خالی باشد.
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="organizationalLevel">درجه سازمانی</label>
      <input type="text" class="form-control" id="organizationalLevel" [(ngModel)]="user.organizationalLevel"
             formControlName="organizationalLevel"
             name="organizationalLevel" readonly>
      <div *ngIf="f.organizationalLevel.invalid && (f.organizationalLevel.dirty || f.organizationalLevel.touched)"
           class="alert alert-danger">
        <div *ngIf="f.organizationalLevel.errors.required">
          درجه سازمانی نمیتواند خالی باشد.
        </div>
      </div>
    </div>
  </div>


  <div id="" class="form-row">
    <div id="inMobile" class="form-group col-md-6">
      <label for="mobile">شماره موبایل</label>
      <input type="text" class="form-control" id="mobile" [(ngModel)]="user.mobile"
             [ngModelOptions]="{standalone: true}"
             name="mobile" readonly>
    </div>
    <div id="inEmail" class="form-group col-md-6">
      <label for="email">ایمیل</label>
      <mat-icon aria-hidden="false" style="cursor: pointer" (click)="openChangeEmailDialog()" >edit</mat-icon>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email"
             [ngModelOptions]="{standalone: true}"
             readonly>
    </div>
  </div>

  <div class="form-group">
    <button id="btnUpdateProfile" type="submit" class="btn btn-primary align-content-center">ویرایش
    </button>

    <a (click)="openChangePasswordDialog()" style="cursor: pointer" >ویرایش کلمه عبور</a>

  </div>
</form>

<div class="form-group">
</div>
